<% unless params[:quiz_id].present? %>
  <% controller.redirect_to new_quiz_path %>
<% end %>
<%= form_for(@quiz, url: form_url) do |f| %>
  <div class="row column quiz-form">
    <div class="small-12 column">
      <label for="q7">Ya identificaste algunas causas del problema de derechos humanos, a quienes afecta y los lugares en que se manifiesta. ¿Qué ideas propones para que las autoridades aborden las causas que señalas y así solucionar el problema de derechos humanos?</label>
      <small>(Limite: 1000 caracteres)</small>
      <%= text_area_tag 'q7', nil, rows: 4, maxlength: 1000, required: true %>
      <br/><br/>
    </div>

    <input type="hidden" id="quiz_id" name="quiz_id" value="<%= params[:quiz_id] %>">
    <input type="hidden" id="step" name="step" value="2">

    <div class="actions small-12 column">
      <button id="submit" type="submit" class="button">Continuar</button>
    </div>
  </div>
<% end %>