<% unless params[:quiz_id].present? %>
  <% controller.redirect_to new_quiz_path %>
<% end %>
<%= form_for(@quiz, url: form_url) do |f| %>
  <div class="row column quiz-form">
    <div class="small-12 column">
      <label for="q7">En tu opinión, ¿qué medidas o acciones deberían tomar las autoridades para solucionar el problema que identificaste?</label>
      <small>Puedes escribir una o varias soluciones (Limite: 1000 caracteres)</small>
      <%= text_area_tag 'q7', nil, rows: 4, maxlength: 1000, required: true %>
      <br/><br/>
    </div>

    <input type="hidden" id="quiz_id" name="quiz_id" value="<%= params[:quiz_id] %>">
    <input type="hidden" id="step" name="step" value="2">

    <div class="actions small-12 column">
      <button id="submit" type="submit" class="button">Continuar</button>
    </div>
  </div>
<% end %>