<h1>Editing Neighborhood Council Event</h1>

<%= render 'form', neighborhood_council_event: @neighborhood_council_event %>

<%= link_to 'Show', @neighborhood_council_event %> |
<%= link_to 'Back', neighborhood_council_events_path %>
