<%= @form.file_field :image, label: 'Imagen', accept: 'image/png,image/jpeg' %>

<div class="margin-bottom">
  <% if @instance.image.attached? %>
    <span class="small">Imagen actual:</span><br>
    <%= image_tag @instance.image, style: 'height: 250px;', required: @is_required %>
  <% end %>
</div>
