<section class="news">
  <% if @news.cosoc.any? %>
  <div class="row">
    <div class="small-12 column">
      <h2>Otras noticias</h2>
      <div class="cards">
        <% @news.cosoc.order(created_at: :desc).each do |n| %>
          <%= render 'card', news: n %>
        <% end %>
      </div>
    </div>
  </div>
  <% else %>
    <div class="row">
      <div class="small-12 column">
       <p class="text-center">No hay noticias creadas.</p>
      </div>
    </div>
  <% end %>
</section>
