<%= render "shared/section_header",
  color: "#9346b8",
  section_image: "/images/h-presupuestos1.svg",
  title: 'No seleccionados para consulta',
  show_buildings: true
%>

<main>
  <div class="row">
    <%= link_to 'Volver al presupuesto participativo', @budget %>

    <%= render Budgets::UnselectedListComponent.new(@budget) %>

  </div>
  <div class="general-footer-container">
    <%= render 'shared/waves_footer', color1: '#cfa7f0', color2: '#8148b3' do %>
    <% end %>
  </div>
</main>
