.big-circle-slider-component {
  background-color: #F5580A;
  border-radius: 15px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr 1fr;
  justify-items: center;
  color: $white;
  box-shadow: 7px 3px 10px 1px rgba(#F8A21F, 0.5);

  header {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
  }

  .orbit {
    width: 100%;

    .orbit-wrapper {
      height: 100%;

      .image-container {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 10fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        background-color: transparent;
        grid-area: 2 / 1 / 3 / 2;
        width: 100%;

        ul {
          height: 100% !important;

          li {
            height: 100%;

            figure {
              height: 100%;

              img {
                border-radius: 15px;
                object-fit: cover;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }


  footer {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h4 {
      margin: 0;
      font-size: 1em;
    }

    .plus-button {
      width: 3rem;
      height: 3rem;
      margin-bottom: 0.5rem;
    }
  }
}
