.cards-container-component {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  @media (max-width: 639px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card-component {
  border-radius: 0;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  box-shadow: 0 1px 3px 0 $border;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: rem-calc(12);
  min-height: rem-calc(192);
  padding: rem-calc(12) rem-calc(12) 0;

  section {
    position: relative;

    .image-container {
      max-height: 250px;

      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .alert-container {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;

      .alert-text-container {
        border: 1px solid;
        border-color: #e5e6e9 #dfe0e4 #d0d1d5;
        background-color: white;
        padding: 15px;

        h4 {
            margin: 0;
        }
      }
    }
  }
}

.simple-card-component {
  @extend .card-component;

  min-height: rem-calc(64);
}
