$header-height: 150px;
$header-height-mobile: 80px;

.wrapper {
  header {
    &::after {
      border-bottom: none !important;
    }
  }
}

.custom-menu {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: $header-height;

  &::before {
    left: 0 !important;
    right: 0 !important;
  }

  @media (max-width: 639px) {
    height: $header-height-mobile;
  }

  @media (min-width: 640px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  a {
    color: $white;
    font-size: 0.9em;
    font-weight: bold;
  }

  .menu-button {
    border: none;
    color: $brand-secondary;

    .menu-icon::after {
      height: 3px;
    }
  }

  .custom-menu-desktop {
    display: flex;
    flex-direction: row;
    gap: 1em;

    nav {
      ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        gap: 2em;
        margin: 0;

        .login-button {
          user-select: none;
          background-color: $white;
          border: none;
          color: $brand;
          border-radius: 25px;
          padding: 0.4rem 1rem;
          text-decoration: none;
          transition: all 0.2s;

          span {
            color: #F8A21F;

            &::after {
              display: block;
              width: 0;
              height: 0;
              border: inset 6px;
              content: '';
              border-bottom-width: 0;
              border-top-style: solid;
              border-color: #F8A21F transparent transparent;
              right: 10px;
              left: auto;
              margin-top: -3px;
              position: absolute;
              top: 50%;
              -webkit-box-sizing: inherit;
              box-sizing: inherit;
            }
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .custom-menu-account {
      position: relative;
      display: inline-block;

      .custom-menu-account-content {
        display: flex;
        flex-direction: column;
        gap: 2em;
        padding: 10px 15px;
        border-radius: 5px 0px 5px 5px;
        width: 100%;
        right: 0;
        display: none;
        position: absolute;
        background-color: #fff !important;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 100;
        border: 0;
      
        & a {
          color: #252525 !important;
        }

        hr {
            margin: 5px 0;
        }
      }

      &:hover, &:active, &:visited {
        .custom-menu-account-content {
          display: block;
        }

        .login-button {
          border-radius: 20px 20px 0 0;
          background-color: rgba($white, .8);
        }
      }
    }
  }

  .custom-menu-mobile {
    position: absolute;
    top: calc(#{$header-height-mobile} - 0.5em);
    border-radius: 15px;
    width: 60vw;
    padding: 15px;
    background-color: $brand-secondary !important;
    z-index: 1000;

    a {
      color: $white;
    }
    
    nav {
      ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        gap: 0.5em;
        margin: 0;
      }
    }
  }
}

.top-bar-title {
  img {
    height: 4rem;

    @media (max-width: 639px) {
      height: 3rem !important;
    }
  }
}
