$header-height: 150px;
$header-height-mobile: 80px;

.custom-menu {
  background: $primary;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: $header-height;

  @media (max-width: 639px) {
    height: $header-height-mobile;
  }

  a {
    color: $white;
    font-size: 0.9em;
    font-weight: bold;
  }

  .menu-button {
    border: none;
    color: $white;
  }

  .custom-menu-desktop {
    display: flex;
    flex-direction: row;
    gap: 1em;

    nav {
      ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        gap: 2em;
        margin: 0;

        .login-button {
          user-select: none;
          background-color: $brand;
          border: none;
          color: $white;
          border-radius: 25px;
          padding: 0.4rem 1rem;
          text-decoration: none;
          transition: all 0.2s;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .custom-menu-account {
      position: relative;
      display: inline-block;

      .custom-menu-account-content {
        display: flex;
        flex-direction: column;
        gap: 2em;
        padding: 10px 15px;
        border-radius: 5px 0px 5px 5px;
        width: 100%;
        right: 0;
        display: none;
        position: absolute;
        background-color: #fff !important;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 100;
        border: 0;
      
        & a {
          color: #252525 !important;
        }

        hr {
            margin: 5px 0;
        }
      }

      &:hover, &:active, &:visited {
        .custom-menu-account-content {
          display: block;
        }

        .login-button {
          border-radius: 20px 20px 0 0;
          background-color: rgba($white, .8);
        }
      }
    }
  }

  .custom-menu-mobile {
    position: absolute;
    top: calc(#{$header-height-mobile} - 0.5em);
    border-radius: 15px;
    width: 60vw;
    padding: 15px;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.7) !important;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;

    a {
      color: $black;
    }
    
    nav {
      ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        gap: 0.5em;
        margin: 0;
      }
    }
  }
}
