a { 
  outline: none !important;
}

.button {
  border-radius: 25px;
}

.hollow {
  border-color: $brand;
  color: $brand !important;
}

body {
  overflow-x: hidden;
}

body.auth-page > .wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: 640px) {
    flex-direction: row;
  }
}

.wrapper > header::after {
  border-bottom: 3px solid $brand !important;
}
