a { 
  outline: none !important;
}

.button {
  border-radius: 25px;
}

.hollow {
  border-color: $brand;
  color: $brand !important;
}

body {
  overflow-x: hidden;
}

body.auth-page > .wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: 640px) {
    flex-direction: row;
  }
}

.wrapper > header::after {
  border-bottom: 3px solid $brand !important;
}

.callout {
  &.primary {
    background-color: lighten($brand, 45%);
    border-color: $brand;
    color: $brand;
  }
}

.select2-container {
  width: 100% !important;
}

.select2-selection, .select2-selection__arrow {
  height: 2.4375rem !important;
}

.select2-selection__rendered {
  height: 2.4375rem !important;
  display: flex !important;
  align-items: center !important;
}
