.pages-gallery-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  & > div {
    width: 65%;

    @media (max-width: 639px) {
      width: 100%;
    }
  }
}

.custom-single-page {
  background-image: url('/images/global/bg-general.png');

  .wrapper {
    .row {
      p, li {
        text-align: justify;
        text-justify: inter-word;
      }
    }
  }
}
