.polls-show {
  background-image: url('/images/global/bg-general.png');

  .poll-question {
    border: none !important;

    h3 {
      background-color: #F67032;
      margin-top: 1.5rem;
      padding: 1rem;
      font-size: 1.2em;
      border-radius: 20px;
    }

    .poll-question-answers {
      .button {
        background-color: #F8A21F;
        border: 0 !important;
        border-radius: 25px;
        box-shadow: 7px 3px 10px -2px rgba(0,0,0,0.3);
        color: $black;
      }
    }
  }

  .poll-questions-container {
    border: 2px solid #F8A21F;
    border-radius: 25px;
  }
}

.results-page {
  .card-component {
    background-color: #FFA42B;
    border: none;
    border-radius: 20px;
    box-shadow: none;
  }
}
