$colors: ((1, #203177), (2, #ad93c5), (3, #4207f6), (4, #203177));

.stacking-cards-component {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > div {
    top: 2rem;
    position: sticky;
    margin-bottom: 1rem;
    color: white;
    transition: all 0.2s linear;
    cursor: pointer;

    h1, h4 {
      color: #fac75e;
    }
  }

  @media (min-width: 640px) {
    @each $index, $element_position in ((0, 4), (1, 3), (2, 2), (3, 1)) {
      div:nth-child(#{$element_position}) {
        width: calc(100% - calc(#{$index} * 100px));
  
        div {
          max-width: 50%;

          h1 {
            font-size: calc(3em - calc(10 * #{$index}px)) !important;
          }
  
          p {
            font-size: calc(1.2em - calc(1 * #{$index}px)) !important;
          }
  
          .supertitle {
            font-size: calc(1.3em - calc(1 * #{$index}px)) !important;
            padding: calc(0.8rem - #{$index}px) calc(2rem - #{$index}px);
          }
        }
      }
    }
  }
  
  @for $i from 1 through 4 {
    div:nth-child(#{$i}) {
      top: calc(2rem + calc(6 * #{$i}rem)) !important;

      @media (max-width: 639px) {
        top: calc(2rem + calc(1 * #{$i}rem)) !important;
      }
    }
  }

  @each $index, $color in $colors {
    & > div:nth-child(#{$index}) {
      background-color: $color !important;

      &:hover {
        box-shadow: 0px 0px 15px 3px #{$color};
      }
    }
  }
}
