<% provide :title do %>Mi grupo<% end %>
<% content_for :header_addon do %>
<% end %>

<% if params[:add].present? %>
  <% @title = 'Agregar participante' %>
<% else %>
  <% @title = 'Editar grupo' %>
<% end %>

<main>
  <div class="jumbo light">
    <div class="row">
      <div class="small-12 column">
        <%= image_tag "help/help_icon_debates.png", alt: t("poll.icon_alt"), class: "align-sub" %>
        <h1 class="inline-block"><%= @title %></h1>
        <% if params[:add].present? %>
        <p>
          Los participantes a quienes inscribas en tu grupo recibir치n un correo electr칩nico que les permitir치 dar su asentimiento informado para validar su participaci칩n.
        </p>
        <% end %>
      </div>
    </div>
    <div class="row">
        <%= link_to @group, {:style => 'margin-left: 1rem;'} do %>
            <i class="fas fa-arrow-left"></i> Volver
        <% end %>
    </div>
  </div>

  <div class="row">
    <div id="proposals" class="proposals-list small-12 medium-9 column">
        <%= render 'form', group: @group %>
    </div>
  </div>
</main>