<div class="row">
  <h2 class="title custom-feed-title" style="margin-bottom: 5px;"><%= t("welcome.cards.title") %></h2>
  <div class="cards-container">
    <% cards.each do |card| %>
      <%= render "shared/card", card: card %>
    <% end %>
  </div>
</div>
