<div class="custom-help-header custom-help-header-<%= image %>">
  <div class="left-side-help-header">
    <h1 style="text-transform: uppercase;"><%= t("#{i18n_namespace}.title") %></h1>
  </div>
  <div class="right-side-help-header">
  </div>
</div>
