<%= raw content_block("subnavigation_left") %>

  <li>
    <%= layout_menu_link_to '¡Participa!', root_path(anchor: 'participation'), nil, accesskey: '1' %>
  </li>

<% if feature?(:help_page) %>
  <li>
    <%= layout_menu_link_to t("layouts.header.help"),
                            help_path,
                            current_page?(help_path),
                            accesskey: "2" %>
  </li>
<% end %>

<%= raw content_block("subnavigation_right") %>