<div class="waves-footer">
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1800 250" style="enable-background:new 0 0 1920 792.01;" xml:space="preserve">
        <style type="text/css">
            .st0{fill-rule:evenodd;clip-rule:evenodd;}
        </style>
        <path class="st0" fill="<%= color1 %>" d="M-9,133.86c0,0,535.42,159.59,1005.37,0c693.21-235.4,932.63,0,932.63,0v733.84H-9V133.86z"/>
    </svg>
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1900 220" style="enable-background:new 0 0 1920 792.01;" xml:space="preserve">
        <style type="text/css">
            .st0{fill-rule:evenodd;clip-rule:evenodd;}
        </style>
        <path class="st0" fill="<%= color2 %>" d="M-108.43,339.2c0,0,602.07,98.13,1088.72-140.25c717.84-351.62,1009.94-130.1,1009.94-130.1l108.43,723.16
            L0,1062.35L-108.43,339.2z"/>
    </svg>

    <%= yield %>
</div>
