<div class="jumbo highlight proceso-main">
    <div class="row flexbox" style="padding-top: 5vh;">
        <p class="lead text-center"><strong>Antes</strong> de comenzar, debes elegir la forma en la que participarás:</p><br/>
    </div>
    <div class="row flexbox">
        <%= link_to set_participation_groups_path(type: 'individual'),
            method: 'post' do %>
            <div class="proceso-card">
            <div class="card-section">
              <%= image_tag('Participacion-individual.jpg', class: "process-card-image") %>
            </div>
            <div class="card-section text-center">
              <h4>Participar individualmente</h4>
              <small style="color: black; text-decoration: none !important;">Aquí puedes ingresar tus sugerencias personales para la elaboración del Segundo PNDH o entregar apoyo a las sugerencias realizadas por otras personas participantes.</small>
            </div>
          </div>
        <% end %>
        <%= link_to set_participation_groups_path(type: 'grupal'),
            method: 'post' do %>
            <div class="proceso-card">
            <div class="card-section">
              <%= image_tag('Participacion-grupal.jpg', class: "process-card-image") %>
            </div>
            <div class="card-section text-center">
              <h4>Participar<br/>grupalmente</h4>
              <small style="color: black; text-decoration: none !important;">Aquí puedes ingresar los resultados del encuentro grupal que sostuviste para realizar aportes a cualquiera de las secciones de este proceso participativo.</small>
            </div>
          </div>
        <% end %>
    </div>
    <div class="row">
        <br/>
        <p class="text-center"><strong>Importante</strong>: no podrás cambiar tu elección.</p>
    </div>
</div>