<div class="jumbo highlight proceso-main">
    <div class="row flexbox" style="padding-top: 5vh;">
    </div>
    <p class="lead text-center">
        Puedes participar individualmente o
        <%= link_to 'crear un grupo',
            set_participation_groups_path(type: 'grupal'),
            method: 'post' %>.
    </p>
</div>