<% if current_user %>
    <div class="jumbo highlight proceso-main">
        <div class="row flexbox" style="padding-top: 5vh;">
        </div>
        <p class="lead text-center">
            Puedes participar individualmente o
            <% if Group.where(user_id: current_user.id).exists? %>
                <%= link_to 'representando a tu grupo',
                    groups_path %>.
            <% else %>
                <%= link_to 'crear un grupo',
                    'groups/new' %>.
            <% end %>
        </p>
    </div>
<% end %>