
  <%= render "shared/section_header",
      color: "#2f4ac6",
      section_image: "/images/h-eventos.svg",
      title: 'Calendario',
      title2: 'de Eventos',
      description: 'Aquí encontrarás los principales eventos relacionados a Participación Ciudadana en la comuna',
      show_buildings: true
  %>
  <div class="proposal-show">
    <div class="row">
    <div class="small-12 medium-12 column">
        <%= back_link_to events_path %>

        <h1>Editar evento</h1>

        <%= render 'form', event: @event, action: 'edit' %>
    </div>
    </div>
</div>

<div class="general-footer-container">
    <%= render 'shared/waves_footer', color1: '#236ad8', color2: '#2f4ac6' do %>
    <% end %>
</div>
