<% provide :title do %>Calendario de eventos<% end %>

<main>
  <div class="row">
    <div id="events">
      <% if current_user %>
        <ul class="tabs" data-tabs data-deep-link="true" data-update-history="true" data-deep-link-smudge="true" data-deep-link-smudge-delay="500" id="events-tabs">
          <li class="tabs-title is-active"><a href="#all-events" aria-selected="true">Todos los eventos</a></li>
            <li class="tabs-title"><a data-tabs-target="my-events" href="#my-events">Mis eventos</a></li>
        </ul>
      <% end %>

      <div class="tabs-content" data-tabs-content="events-tabs">
        <div class="tabs-panel is-active" id="all-events">
          <%= render 'events' %>
        </div>
        <% if current_user %>
          <div class="tabs-panel" id="my-events">
            <%= render 'user_events' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
