<% provide :title do %>Eventos<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: proposals_url %>
<% end %>

<main>
  <div class="custom-help-header custom-help-header-events">
    <div class="left-side-help-header">
      <h1 style="text-transform: uppercase;">Eventos</h1>
    </div>
    <div class="right-side-help-header">
    </div>
  </div>
  <div class="row">
    <ul class="tabs" data-tabs data-deep-link="true" data-update-history="true" data-deep-link-smudge="true" data-deep-link-smudge-delay="500" id="events-tabs">
      <li class="tabs-title is-active"><a href="#all-events" aria-selected="true">Todos los eventos</a></li>
      <% if current_user %>
        <li class="tabs-title"><a data-tabs-target="my-events" href="#my-events">Mis eventos</a></li>
      <% end %>
    </ul>
    <div class="tabs-content" data-tabs-content="events-tabs">
      <div class="tabs-panel is-active" id="all-events">
        <%= render 'all_events' %>
      </div>
      <% if current_user %>
        <div class="tabs-panel" id="my-events">
          <%= render 'user_events' %>
        </div>
      <% end %>
    </div>
  </div>
</main>
