<% provide :title do %>Calendario de eventos<% end %>

<main>
  <%= render "shared/section_header", i18n_namespace: "events.index.section_header", image: "legislation_processes" %>
  <div class="row">
    <div id="events">
      <% if current_user %>
        <ul class="tabs" data-tabs data-deep-link="true" data-update-history="true" data-deep-link-smudge="true" data-deep-link-smudge-delay="500" id="events-tabs">
          <li class="tabs-title is-active"><a href="#all-events" aria-selected="true">Todos los eventos</a></li>
            <li class="tabs-title"><a data-tabs-target="my-events" href="#my-events">Mis eventos</a></li>
        </ul>
      <% end %>

      <div class="tabs-content" data-tabs-content="events-tabs">
        <div class="tabs-panel is-active" id="all-events">
          <div class="small-12 medium-6 column">
            <%= render 'events' %>
          </div>

          <div class="small-12 medium-6 column">
            <div class="events-cards-container">
              <% @events.order(created_at: :desc).limit(4).each do |event| %>
                <%= render Shared::CardComponent.new(
                  event,
                  event.title,
                  event.image.present? ? event.image : nil,
                  ActionView::Base.full_sanitizer.sanitize(event.description).truncate(48, separator: '...'),
                  event.is_expired? ? 'Evento finalizado' : nil
                ) %>
              <% end %>
            </div>
          </div>
        </div>
        <% if current_user %>
          <div class="tabs-panel" id="my-events">
            <%= render 'user_events' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
