<%= render Shared::CommentsComponent.new(@debate, @comment_tree, @debate.is_finished || !(current_user and @debate.can_user_vote?(current_user))) do %>
  <h3>
    <%= t("debates.show.comments_title") %>
    <span class="js-comments-count">(<%= @debate.comments_count %>)</span>
  </h3>
<% end %>
