<script>
$( function() {
    $( "#accordion" ).accordion({
        heightStyle: "content"
    });
} );
</script>

<div class="jumbo light">
    <div class="row" style="text-align: center;">
    <div class="small-12 column">
        <h2>¿Cómo participar?</h2>
    </div>

    <div class="small-12 medium-12 column">
        <p>(Pequeño texto explicativo + objetivos del proceso de participación)</p>
    </div>
    </div>
</div>
<div class="row margin-top">
  <div class="small-12 medium-12 column">
    <h2 style="text-align: center;">Modalidades de participación</h2>
    <div id="accordion">
        <h3>Consulta Digital</h3>
        <div class="accordion-content-custom">
            <%# <img src="https://via.placeholder.com/250"> %>
            <div>
            <p>
                En la Consulta Digital te proponemos una <strong>serie de preguntas</strong> vinculadas a los pilares de los Principios Rectores
                y un espacio para proponer hasta de <strong>tres acciones</strong> que puedan ser incorporadas en el 2° Plan de Acción Nacional de Derechos Humanos y Empresas. 
            </p>
            <p>
                Podrás a responder la consulta hasta el 30 de octubre. 
            </p>
            </div>
            <button class="button">Si ¡Quiero participar!</button>
        </div>
        <h3>Proceso participativo para representantes de la sociedad civil</h3>
        <div class="accordion-content-custom">
            <div>
            <p>
                Si eres representante de una organización de la sociedad civil, te puedes inscribir en los encuentros que haremos por el 2° PAN.
            </p>
            <p>
                Nos reuniremos a través de la plataforma de videollamada zoom con organizaciones interesadas, para determinar ámbitos y temáticas
                de preocupación preferente en derechos humanos y empresas y levantar propuestas de acciones a incorporar en la segunda versión del Plan.
            </p>
            <p>
                Completa este formulario e inscríbete para ser parte del proceso.
            </p>
            </div>
            <button class="button">Si ¡Quiero participar!</button>
        </div>
        <h3>Proceso participativo para representantes y autoridades de pueblos indígenas y tribales</h3>
        <div class="accordion-content-custom">
            <div>
            <p>
                Si eres representante indígena o afrodescendiente te puedes inscribir en algún encuentro de tu pueblo, para discutir y aportar en los encuentros
                que haremos por el 2° Plan de Acción Nacional de Derechos Humanos y Empresas.
            </p>
            <p>
                Nos reuniremos a través de la plataforma de videollamada zoom, con el objetivo de determinar ámbitos y temáticas de preocupación preferente
                en derechos humanos y empresas y levantar propuestas de acciones a incorporar en la 2° versión del Plan.
            </p>
            <p>
                Completa este formulario e inscríbete para ser parte del proceso.
            </p>
            </div>
            <button class="button">Si ¡Quiero participar!</button>
        </div>
  </div>
</div>
