<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
    $( "#accordion" ).accordion();
} );
</script>

<div class="jumbo light">
    <div class="row" style="text-align: center;">
    <div class="small-12 column">
        <h2>¿Cómo participar?</h2>
    </div>

    <div class="small-12 medium-12 column">
        <p>(Pequeño texto explicativo + objetivos del proceso de participación)</p>
    </div>
    </div>
</div>
<div class="row margin-top">
  <div class="small-12 medium-12 column">
    <h2 style="text-align: center;">Modalidades de participación</h2>
    <div id="accordion">
        <h3>Consulta Digital</h3>
        <div class="accordion-content-custom">
            <img src="https://via.placeholder.com/250">
            <p>
            Explicación del mecanismo de participación
            </p>
            <button class="button">Si ¡Quiero participar!</button>
        </div>
        <h3>Proceso participativo para representantes de la sociedad civil</h3>
        <div class="accordion-content-custom">
            <img src="https://via.placeholder.com/250">
            <p>
            Explicación del mecanismo de participación
            </p>
            <button class="button">Si ¡Quiero participar!</button>
        </div>
        <h3>Proceso participativo para representantes y autoridades de pueblos indígenas y tribales</h3>
        <div class="accordion-content-custom">
            <img src="https://via.placeholder.com/250">
            <p>
            Explicación del mecanismo de participación
            </p>
            <button class="button">Si ¡Quiero participar!</button>
        </div>
  </div>
</div>