<%= render "shared/section_header",
  color: "#6295d6",
  title: 'Política de Privacidad',
  title2: 'y Condiciones de Uso',
  show_buildings: true,
  small_height: true
%>

<div class="row terms-and-conditions">
  <div class="small-12 column">
    <h3 class="text-center" style="margin-bottom: 0;">Definición de términos y condiciones de uso de la plataforma</h3>
    <h2 class="text-center">Términos y Condiciones</h2>

    <h4 class="mt-2">Antecedentes generales</h4>

    <p class="mb-0" style='text-align:justify;text-indent:.5in'>De
    conformidad a lo dispuesto en la Constitución Política de la República del
    Estado, artículo 19 N°4 y la ley N°19.628 sobre protección de la vida privada y
    sus modificaciones posteriores, se señala lo siguiente:</p>

    <p class="mb-0" style='text-align:justify;text-indent:.5in'>La
    Municipalidad de Las Condes, pone en conocimiento de todos quienes accedan al
    sitio web <a href="http://www.participalascondes.cl">http://www.participalascondes.cl</a>
    la siguiente política de privacidad, a fin de resguardar la seguridad,
    confidencialidad y privacidad de los suscriptores, participantes y/o visitantes de
    este sitio web.</p>

    <p class="mb-0" style='text-align:justify;text-indent:.5in'>Estas
    políticas tienen por finalidad asegurar la correcta utilización de la
    información recopilada a través de las visitas del sitio web señalado y de los
    contenidos de su Portal. </p>

    <p class="mb-0" style='text-align:justify;text-indent:.5in'>
      La Municipalidad de Las Condes protege los datos de carácter personal de 
      los participantes del sitio web, asegurando la confidencialidad de los mismos, 
      y que bajo ninguna circunstancia transferirá o publicará dichos datos a persona alguna, 
      salvo que ello sea ordenado por un tribunal de justicia o autoridad administrativa, 
      de acuerdo a la legislación vigente o que el participante mismo lo autorice.
    </p>

    <h4 class="mt-2">Definiciones</h4>

    <p class="mb-0" style='text-align:justify;text-indent:.5in'>
      <strong>Participante:</strong> Se define como “participante” al usuario que registra voluntariamente 
      sus datos a través de Clave Única del Registro Civil e Identificación. 
      La Municipalidad de Las Condes establece que, para la población flotante 
      y usuarios sin tarjeta de vecino, los procesos estarán sujetos a las bases de cada proceso. 

      
    </p>

    <p class="mb-0" style='text-align:center;text-indent:.5in'>
      <%= image_tag '/images/tabla-permisos.png' %>
    </p>

    <p class="mb-0" style='text-align:center;text-indent:.5in'>
      <strong>Portal:</strong> Se define como “Portal” al sitio web <a href="https://www.participalascondes.cl">http://www.participalascondes.cl</a>. 
    </p>

    <h4 class="mt-2">Plataforma &quot;Participa Las Condes&quot;</h4>

    <p class="mb-0" style='text-align:justify;text-indent:.5in;'>La
    participación en el Portal de Participación Ciudadana de la Municipalidad de
    Las Condes, llamada “Participa Las Condes”, se regula por las presentes
    condiciones de uso que vinculan a todas las personas que participen en este
    sitio web. Al usar el Portal usted confirma que ha leído y aceptado lo
    siguiente:&nbsp;</p>

    <h4 class="mt-2">1. Sobre la Plataforma y sobre el objetivo de la participación</h4>

    <p class="mb-0" style='text-align:justify;text-indent:.5in;'>La
    plataforma “Participa Las Condes” fue desarrollada y es administrada por Ugu
    SpA, siendo arrendada por la Municipalidad de Las Condes.&nbsp;</p>

    <p class="mb-0" style='text-align:justify;'>
      Esta plataforma tiene por finalidad brindar una instancia de participación ciudadana 
      para los vecinos y vecinas de la comuna de Las Condes, con el objeto de satisfacer 
      las necesidades de la comunidad local, y en definitiva, asegurar la participación 
      en el progreso económico, social, cultural y familiar de la comuna.
    </p>

    <p class="mb-0" style='text-align:justify;'>
      En la plataforma los participantes podrán participar de: encuestas, consultas ciudadanas, 
      presupuestos participativos, debates, propuestas ciudadanas, eventos e iniciativas.
    </p>

    <h4 class="mt-2">2. Cuestiones generales sobre la participación en el Portal de Participación</h4>

    <p class="mb-0" style='text-indent:.5in;'>Puede
    participar en la plataforma cualquier persona mayor a 16 años que esté registrada con
    una cuenta de usuario. Sin perjuicio de lo anterior, cualquier persona puede seguir el debate en
    línea, leer las propuestas y comentarios de forma anónima. &nbsp;&nbsp;</p>

    <p class="mb-0" style='text-align:justify;text-indent:.5in'>El
    registro de la cuenta de usuario se hace a través del número de RUT, con validación de clave única y 
    tarjeta vecino y rellenando el formulario correspondiente que señale la página “Participa Las Condes”.</p>

    <p class="mb-0" style='text-align:justify;text-indent:.5in'>
      La Municipalidad de Las Condes se reserva el derecho de rechazar, suspender o eliminar cuentas, por ejemplo, 
      si el participante no cumple con las políticas de convivencia o ha sido previamente rechazado o eliminado de su cuenta.
    </p>

    <p class="mb-0" style='text-align:justify;text-indent:.5in'>La
    participación es completamente voluntaria. El participante puede retirarse de
    la plataforma en cualquier momento.&nbsp;</p>

    <p class="mb-0" style='text-align:justify;text-indent:.5in'>El participante que aporta contenido en la plataforma declara, con la
    aceptación de las presentes condiciones, ser titular de los derechos de
    propiedad intelectual y/o industrial u ostentar derechos suficientes sobre
    dicho contenido. Además, declara que lo remite a Ugu SpA y la Municipalidad de
    Las Condes de forma voluntaria y autoriza su utilización para lo que la
    Municipalidad de Las Condes estime conveniente.</p>

    <h4 class="mt-2">3. Política de convivencia</h4>

    <p class="mb-0" style='text-align:justify;text-indent:.5in;'>Al
    ser el Portal “Participa Las Condes” una instancia para que la ciudadanía pueda
    involucrarse, crear y decidir respecto a los asuntos que aquejan a su
    comunidad, las y los participantes deben hacer un uso acorde a dicho objetivo.&nbsp;</p>

    <p class="mb-0" style='text-align:justify;text-indent:.5in;'>Los
    participantes deberán abstenerse de realizar publicaciones que no tengan
    relación con los objetivos de la plataforma, que vulneren los derechos de otras
    personas, que constituyan manifestaciones de odio o amenazas hacia otras
    personas, que inciten a actos de violencia, que tengan contenido vulgar u
    obsceno o, que constituyan una infracción a la ley. Las prohibiciones respecto
    al uso de la plataforma se describen en la sección ”Prohibiciones”. &nbsp;</p>

    <p class="mb-0" style='text-align:justify;text-indent:.5in;'>Ugu
    SpA y la Municipalidad de Las Condes no son responsables del uso incorrecto de
    este Portal por los participantes o de los contenidos localizados en el mismo,
    siendo cada usuario responsable de su uso correcto y de la legalidad de
    los contenidos que haya compartido.&nbsp;&nbsp;</p>

    <p class="mb-0" style='text-align:justify;text-indent:.5in;'>No
    obstante, la Municipalidad de Las Condes se reserva el derecho a eliminar las
    publicaciones que infrinjan los términos antes señalados.
    La Municipalidad de Las Condes se reserva el derecho a eliminar de la
    plataforma “Participa Las Condes” a las opiniones, informaciones, comentarios,
    propuestas o archivos que contradigan estas condiciones de uso y puede instalar
    filtros a tal efecto, lo cual será notificado a su autor al
    correo electrónico indicado por la persona al registrarse en la plataforma.
    Todo ello se realizará únicamente con el fin de preservar el objetivo
    fundamental de la plataforma.&nbsp;&nbsp;&nbsp;</p>

    <p class="mb-0" style='text-align:justify;text-indent:.5in;'>En
    caso de que el contenido introducido por los participantes incorpore un
    enlace a otro sitio web, Ugu SpA y la Municipalidad de Las Condes no serán
    responsables por los daños o perjuicios derivados del acceso al enlace o a sus
    contenidos.&nbsp;</p>

    <p class="mb-0" style='text-align:justify;text-indent:.5in'>La
    Municipalidad de Las Condes se reserva también la potestad -sin aviso previo-
    de suspender temporalmente las actividades de un participante en la plataforma,
    desactivar su cuenta de la manera que sea, borrar su contenido, eliminar la
    cuenta o enviar un aviso, en especial, y sin limitarse a ello, en los siguientes casos:</p>

    <p class="mb-0" style='margin-left:1.0in;text-align:justify;text-indent:
    -.25in;vertical-align:baseline'>●&emsp; Si se produce una infracción de estas condiciones de uso de la
    plataforma “Participa Las Condes”; y&nbsp;</p>

    <p class="mb-0" style='margin-left:1.0in;text-align:justify;text-indent:
    -.25in;vertical-align:baseline'>●&emsp; Si el Municipio cree que la actividad de la persona participante
    es perjudicial para los demás, para la plataforma o la
    Municipalidad.&nbsp;&nbsp;</p>

    <p class="mb-0" style='text-align:justify;text-indent:.5in'>La
    persona participante se hace responsable del contenido de sus aportaciones y de
    los daños o reclamaciones de terceros que se puedan derivar. En ningún caso la
    Municipalidad de Las Condes será responsable del uso indebido del sitio, de la
    plataforma o de los contenidos que se compartan, ni responderá sobre la
    utilización que una persona física haga de las ideas aportadas, ni sobre la
    idoneidad de estas ideas, ni sobre los resultados que se deriven.&nbsp;&nbsp;</p>

    <p class="mb-0" style='text-align:justify;text-indent:.5in'>En
    caso de que se produzca una disputa de cualquier clase o por cualquier motivo
    entre los participantes en el sitio web o en un tercero, la Municipalidad de
    Las Condes queda exenta de toda responsabilidad por reclamaciones, demandas o
    daños de la naturaleza que sea que estén relacionados de alguna manera con esta
    disputa.&nbsp;</p>

    <h4 class="mt-2">4. Uso del Portal de Participación</h4>

    <p class="mb-0" style='text-align:justify;text-indent:.5in;'>Los
    participantes podrán acceder y navegar por el portal libremente y de forma
    anónima. Sólo cuando quieran realizar alguna acción que implique la
    participación en algún proceso se le solicitará que inicie sesión en el Portal web “Participa Las Condes”,
    lo cual requerirá que cada persona participante cuente con un registro previo en
    el sitio.&nbsp;</p>

    <p class="mb-0" style='text-align:justify;text-indent:.5in;'>En
    el Portal, las personas participantes podrán interactuar en alguno de los
    siguientes procesos:&nbsp;&nbsp;</p>

    <p class="mb-0" style='margin-left:1.0in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Presupuestos participativos&nbsp;</p>

    <p class="mb-0" style='margin-left:1.0in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Consultas ciudadanas&nbsp;</p>

    <p class="mb-0" style='margin-left:1.0in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Propuestas ciudadanas&nbsp;</p>

    <p class="mb-0" style='margin-left:1.0in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Iniciativas&nbsp;</p>

    <p class="mb-0" style='margin-left:1.0in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Eventos&nbsp;</p>

    <p class="mb-0" style='margin-left:1.0in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Debates&nbsp;</p>

    <p class="mb-0" style='margin-left:1.0in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Encuestas&nbsp;</p>

    <p class="mb-0" style='text-align:justify;text-indent:.5in;'>La
    disponibilidad para participar en cada proceso dependerá exclusivamente de las
    determinaciones que tome la Municipalidad de Las Condes, pudiendo aplicar todos
    o sólo algunas de las modalidades participativas
    antes expuestas.&nbsp;&nbsp;</p>

    <h4 class="mt-2">5. Política de privacidad y protección de datos</h4>

    <p class="mb-0" style='text-align:justify;text-indent:.5in;'>La
    Municipalidad de Las Condes, a través del sitio web <a href="http://www.participalascondes.cl">http://www.participalascondes.cl</a>,
    recopila datos de los suscriptores, usuarios y/o visitantes que hagan uso del
    mismo, a través de dos mecanismos: </p>

    <p class="mb-0" style='margin-left:1.0in;text-align:justify;
    text-indent:-.5in;'>i)&emsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <u>Mecanismos Automáticos</u>: Son
    aquellos procesos informáticos realizados para generar registros de las
    actividades de los visitantes de sitios web y cuyo objeto es establecer
    patrones de actividad, navegación y audiencia, que no implican la
    identificación personal de aquellos suscriptores, participantes y/o visitantes que
    accedan a los servicios del Portal <a
    href="http://www.participalascondes.cl">http://www.participalascondes.cl</a>.
    </p>

    <p style='margin-left:1.0in;text-align:justify;
    '>La Municipalidad de Las Condes se reserva el derecho de usar dicha
    información, a fin de establecer criterios que mejoren su contenido, en todo
    caso siempre disociados de la persona que dejó los datos en su navegación. </p>

    <p style='margin-left:1.0in;text-align:justify;
    text-indent:-.5in;'>ii)&emsp;&nbsp;&nbsp;&nbsp;
    <u>Mecanismos manuales:</u> Son requerimientos
    formales y expresos de información a los suscriptores, participantes y/o visitantes
    del portal que implican la recolección de datos como nombre, apellido, correo
    electrónico, ocupación, etc. Se indicará claramente el fin para el cual está siendo solicitada.</p>

    <p style='text-align:justify;text-indent:35.45pt;'>
      La información recopilada por la Municipalidad de Las Condes, será utilizada para mejorar la comunicación vecinal, 
      estándares de calidad, satisfacer las necesidades de la comunidad local y asegurar su participación en el progreso económico, 
      social y cultural de la comuna, todo lo anterior relacionado con las funciones que por ley se entregan a las entidades municipales.
    </p>

    <p style='text-align:justify;text-indent:35.45pt;'>Respecto de la entrega de información recopilada por medio de mecanismos
    automáticos antes señalados, y que no contengan identificación personal de los
    suscriptores, participantes y/o visitantes de la página, podrá ser usada para
    informar a entidades públicas, gubernamentales o a terceros sobre patrones de
    actividad, navegación, audiencia y áreas más visitadas del sitio web, todo en el marco de aquellas materias de su competencia y dentro de las funciones propias del Municipio. . </p>

    <p class="mb-0" style='text-align:justify;text-indent:.5in;'>El
    correo electrónico registrado por la persona participante será usado con el
    sólo propósito de enviarle notificaciones automáticas
    relacionadas con su uso de la plataforma.&nbsp;</p>

    <p class="mb-0" style='text-align:justify;text-indent:.5in;'>Este
    sitio contiene enlaces a Google Analytic con la finalidad de tener visibilidad
    y métricas respecto a la frecuencia, horario, origen y ciertas características
    de los navegadores utilizados por nuestros participantes; con el fin de mejorar el
    proceso de navegación en base a resultados numéricos.&nbsp;</p>

    <h4 class="mt-2">6. Uso de cookies</h4>

    <p class="mb-0" style='text-align:justify;text-indent:.5in;'>Una
    cookie corresponde a un fichero que la plataforma envía y almacena en su
    navegador. Sirve para tener información respecto al tráfico web de una persona
    usuaria, y facilita las futuras visitas que se realicen a la misma página web.
    Además de ello, las cookies se utilizan para que las webs pueden reconocer
    individualmente a una persona usuaria, y brindarle un servicio
    personalizado.&nbsp;</p>

    <p class="mb-0" style='text-align:justify;text-indent:.5in;'>Este
    Portal emplea las cookies para identificar las páginas más visitadas y su
    frecuencia, y para facilitar el acceso a quienes ya cuentan con un registro en
    ella. Esta información, después de que es utilizada, es eliminada de forma
    permanente, y no entrega acceso a información del equipo desde el que se accede
    a la web, ni a información de la persona usuaria.&nbsp;</p>

    <p class="mb-0" style='text-align:justify;text-indent:.5in;'>Es
    posible eliminar las cookies en cualquier momento desde la configuración de su
    navegador, lo que puede ocasionar la no disponibilidad de algunas de las
    opciones del Portal, como recordar el inicio de sesión de cada participante.&nbsp;</p>

    <h4 class="mt-2">7. Revisión de las condiciones de uso</h4>

    <p class="mb-0" style='text-align:justify;text-indent:.5in;'>Ugu
    SpA y la Municipalidad de Las Condes se reservan el derecho de revisar las
    presentes condiciones de uso y la política de privacidad en cualquier momento y
    por cualquier razón. En dicho caso, los participantes registrados serán notificados a través de este espacio en línea y, si continúan utilizando el
    Portal, se entenderán aceptadas las modificaciones introducidas.&nbsp;</p>

    <p class="mb-0" style='text-align:justify;'>En
    consecuencia, al usar la plataforma web, el participante manifiesta y garantiza lo
    siguiente:&nbsp;</p>

    <p class="mb-0" style='margin-left:1.25in;text-align:justify;text-indent:
    -.25in;vertical-align:baseline'>●&emsp;
    Que tiene la capacidad para cumplir con todas las condiciones de
    uso.&nbsp;</p>

    <p class="mb-0" style='margin-left:1.25in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Que la información que proporcione será completa, veraz,
    actualizada y precisa.&nbsp;</p>

    <p class="mb-0" style='margin-left:1.25in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Que la utilización de la plataforma es a título personal.&nbsp;</p>

    <p style='margin-left:1.25in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Que asume y se compromete a cumplir todas las obligaciones aquí
    descritas.&nbsp;</p>

    <p class="mb-0" style='text-align:justify;text-indent:.5in;'>En
    el proceso se solicitan datos personales que permiten identificar a la persona
    en cada interacción con el sistema. Del incumplimiento de esta condición
    resultará su imposibilidad para acceder y utilizar los servicios
    disponibles.&nbsp;</p>

    <p class="mb-0" style='text-align:justify;text-indent:.5in;'>El
    participante entiende que su cuenta es personal e intransferible y que es el único
    responsable de toda la actividad que realice en su cuenta de usuario.&nbsp;</p>

    <h4 class="mt-2">8. Prohibiciones</h4>

    <p class="mb-0" style='text-align:justify;text-indent:.5in;'>Los
    participantes deberán utilizar la plataforma de acuerdo con la legislación vigente y
    con los presentes términos. En consecuencia, entre otras cosas, los participantes no
    podrán:&nbsp;</p>

    <p class="mb-0" style='margin-left:1.25in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Usar la plataforma para fines distintos de los establecidos en
    los términos.&nbsp;</p>

    <p class="mb-0" style='margin-left:1.25in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Llevar a cabo adaptaciones o modificaciones a la plataforma que
    puedan afectar el uso o la operación para la que ha sido concebida y que ha
    sido expresada en los términos o bien realizar obras derivadas.&nbsp;</p>

    <p class="mb-0" style='margin-left:1.25in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Reproducir, copiar o distribuir a terceros el contenido de la
    plataforma con propósitos comerciales o lucrativos. En caso de realizar lo
    anterior, el usuario será dado de baja del sistema.&nbsp;</p>

    <p class="mb-0" style='margin-left:1.25in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Realizar cualquier acción que pueda dañar, interferir
    perjudicialmente, interceptar subrepticiamente o expropiar cualquier sistema,
    datos o información.&nbsp;</p>

    <p class="mb-0" style='margin-left:1.25in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Realizar cualquier acción o uso de dispositivo, software, u
    otros medios que puedan interferir en las actividades y operaciones de las
    cuentas o bases de datos administrados por Ugu SpA
    y la Municipalidad de Las Condes.&nbsp;</p>

    <p class="mb-0" style='margin-left:1.25in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Atentar, violar o infringir las leyes de propiedad intelectual e
    industrial.&nbsp;</p>

    <p class="mb-0" style='margin-left:1.25in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Propagar o facilitar la propagación de cualquier tipo de virus,
    gusanos u otros programas informáticos maliciosos que puedan dañar, interferir
    perjudicialmente, interceptar subrepticiamente o expropiar cualquier sistema,
    datos o información.&nbsp;</p>

    <p class="mb-0" style='margin-left:1.25in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Utilizar cualquier medio automatizado de extracción de datos
    para acceder, consultar o de cualquier otra forma de recolectar información
    relativa a los contenidos o funciones de la plataforma.&nbsp;</p>

    <p class="mb-0" style='margin-left:1.25in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Efectuar cualquier actividad que pueda desactivar, sobrecargar o
    deteriorar los servidores de Ugu SpA y la Municipalidad de
    Las Condes o de sus prestadores de servicios, así como afectar el buen
    funcionamiento de la plataforma (tal como un ataque de denegación de
    servicio).&nbsp;</p>

    <p class="mb-0" style='margin-left:1.25in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Los contenidos de la plataforma, tales como datos, documentos,
    información, gráficos, audiovisuales o imágenes y, en general, todo material
    que se encuentre protegido por derechos de propiedad intelectual o industrial,
    no pueden ser modificados de forma alguna, copiados o distribuidos
    separadamente de su contexto, texto, gráfico o imágenes que lo acompañen, a
    menos que se cuente con la autorización del titular de los correspondientes
    derechos o ello resulte legalmente permitido.&nbsp;</p>

    <p class="mb-0" style='text-align:justify;'>&nbsp;</p>

    <p class="mb-0" style='text-align:justify;text-indent:.5in;'>La
    utilización de la plataforma está limitada estrictamente para uso personal
    mediante un computador personal, teléfono celular u otro dispositivo móvil. El
    participante no podrá copiar, modificar, adaptar, vender, licenciar, distribuir,
    compartir, descompilar, falsificar, descifrar o alterar la plataforma ni su
    diseño.&nbsp;</p>

    <p class="mb-0" style='text-align:justify;text-indent:.5in;'>Con
    el objeto de proporcionar a los participantes un mejor servicio, puede resultar
    necesario recopilar y procesar cierta información, la cual se obtendrá desde el
    dispositivo donde se está usando la plataforma. Esta información permitirá
    realizar mejoras en la plataforma que la optimicen y fortalezcan, tendiente a
    conseguir una experiencia del Participante satisfactoria. Las condiciones de
    tratamiento de esa información aparecen descritas en las Políticas de
    Privacidad.&nbsp;</p>

    <p class="mb-0" style='text-align:justify;text-indent:.5in;'>La
    gratuidad de los servicios ofrecidos no da derecho al participante para exigir su
    mantención en el tiempo.&nbsp;&nbsp;</p>

    <p class="mb-0" style='text-align:justify;text-indent:.5in;'>No
    está permitido añadir ningún contenido ilegal o no autorizado al sitio web,
    como por ejemplo información que tenga las siguientes características:&nbsp;</p>

    <p class="mb-0" style='margin-left:1.0in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Que sea falsa o engañosa;&nbsp;</p>

    <p class="mb-0" style='margin-left:1.0in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Que infrinja cualquier derecho de la Municipalidad de Las Condes
    o de cualquier tercera parte, como por ejemplo, el copyright, las marcas
    registradas u otros derechos de propiedad intelectual e industrial u otros
    derechos relacionados;&nbsp;</p>

    <p class="mb-0" style='margin-left:1.0in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Que atente contra la intimidad de un tercero, como publicar
    detalles personales de los participantes, como el nombre, la dirección, el
    número de teléfono, el correo electrónico, fotografías o cualquier otra
    información de carácter personal;&nbsp;</p>

    <p class="mb-0" style='margin-left:1.0in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Que pretenda enviar spam a los participantes o sobrecargar el
    sistema;&nbsp;</p>

    <p class="mb-0" style='margin-left:1.0in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Que tenga el carácter de cadena de mensajes, juego piramidal o
    juego de azar;&nbsp;</p>

    <p class="mb-0" style='margin-left:1.0in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Que tenga fines comerciales, como publicar ofertas de trabajo o
    anuncios;&nbsp;</p>

    <p class="mb-0" style='margin-left:1.0in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Que no esté conforme con la decencia pública; en consecuencia,
    el contenido no debe incitar al odio, discriminar, amenazar, provocar, ni tener
    un sentido o un carácter sexual, violento, grosero, ni ofensivo;&nbsp;</p>

    <p class="mb-0" style='margin-left:1.0in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Que infrinja una ley o una regulación aplicable;&nbsp;</p>

    <p class="mb-0" style='margin-left:1.0in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Que haga campañas promoviendo el voto masivo para otras
    propuestas no relacionadas con el proceso y el marco de debate, y&nbsp;</p>

    <p class="mb-0" style='margin-left:1.0in;text-align:justify;text-indent:
    -.25in;;vertical-align:baseline'>●&emsp;
    Que cree múltiples usuarios simulando ser personas
    diferentes.&nbsp;</p>
  </div>
</div>


<div class="general-footer-container">
  <%= render 'shared/waves_footer', color1: '#7aa7de', color2: '#6295d6' do %>
  <% end %>
</div>
