<%= content_for :body_class, "custom-single-page" %>

<div class="row margin-top margin-bottom">
  <div class="small-12 column">
    <h1>Términos y Condiciones</h1>

    <br>
    <h3>Plataforma PARTICIPA.GOREANTOFAGASTA.CL</h3>
    <p>La participación en el Portal de Participación Ciudadana del Gobierno Regional de Antofagasta, llamada “PARTICIPA.GOREANTOFAGASTA.CL”, se regula por las presentes condiciones de uso que vinculan a todas las personas que participen en este sitio web. Al usar el Portal usted confirma que ha leído y aceptado lo siguiente:</p>

    <h4>1. Sobre la Plataforma y sobre el objetivo de la participación</h4>
    <p>La plataforma “PARTICIPA.GOREANTOFAGASTA.CL” fue desarrollada y es administrada por Hive Technologies SpA, siendo arrendada por el Gobierno Regional de Antofagasta.</p>
    <p>Esta plataforma tiene como objetivo brindar una instancia de participación ciudadana para los vecinos y vecinas de la Región de Antofagasta. En la plataforma las personas participantes podrán participar de: encuestas, consultas ciudadanas, propuestas para presupuestos participativos, debates, propuestas ciudadanas, eventos e iniciativas.  Lo planteado por las personas participantes no será vinculante para el Gobierno Regional de Antofagasta, pero será utilizado por ella como insumo para las decisiones que adopte.</p>
  
    <h4>2. Cuestiones generales sobre la participación en el Portal de Participación Ciudadana del Gobierno Regional de Antofagasta.</h4>
    <p>Puede participar en la plataforma cualquier persona, desde los 16 años que esté registrada con una cuenta de usuario. Sin perjuicio de lo anterior, cualquier persona puede seguir el debate en línea, leer las propuestas y comentarios de forma anónima.</p>
    <p>La participación es completamente voluntaria. El o la participante puede retirarse de la plataforma en cualquier momento.</p>
    <p>La persona participante que aporta contenido en la plataforma declara, con la aceptación de las presentes condiciones, ser titular de los derechos de propiedad intelectual y/o industrial u ostentar derechos suficientes sobre dicho contenido. Además, declara que lo remite a Hive Technologies SpA y al Gobierno Regional de Antofagasta de forma voluntaria y autoriza su utilización para lo que el Gobierno Regional de Antofagasta estime conveniente.</p>
  
    <h4>3. Política de convivencia</h4>
    <p>Al ser el Portal “PARTICIPA.GOREANTOFAGASTA.CL” una instancia para que la ciudadanía pueda involucrarse, crear y decidir respecto a los asuntos que aquejan a su comunidad y a la región de Antofagasta, las y los usuarios deben hacer un uso acorde a dicho objetivo.</p>
    <p>Los participantes deberán abstenerse de realizar publicaciones que no tengan relación con los objetivos de la plataforma, que vulneren los derechos de otras personas, que constituyan manifestaciones discriminación, odio o amenazas hacia otras personas o grupos de la sociedad, que inciten a actos de violencia, que tengan contenido vulgar u obsceno, o que constituyan una infracción a la ley.</p>
    <p>El Gobierno Regional de Antofagasta se reserva el derecho a eliminar las publicaciones que infrinjan los términos antes señalados. La eliminación de una publicación será notificada a su autor al correo electrónico indicado por la persona al registrarse en la plataforma.</p>
    <p>Hive Technologies SpA y el Gobierno Regional de Antofagasta no son responsables del uso incorrecto de este portal por las y los usuarios o de los contenidos localizados en el mismo, siendo cada persona usuaria responsable de su uso correcto y de la legalidad de los contenidos que haya compartido.</p>
    <p>En caso de que el contenido introducido por las personas usuarias incorpore un enlace a otro sitio web, Hive Technologies SpA y el Gobierno Regional de Antofagasta no serán responsables por los daños o perjuicios derivados del acceso al enlace o a sus contenidos.</p>
    
    <h4>4. Uso del Portal de Participación</h4>
    <p>Las y los participantes podrán acceder y navegar por el portal libremente y de forma anónima. Sólo cuando quieran realizar alguna acción que implique la participación en algún proceso se le solicitará que inicie sesión en el Portal, lo cual requerirá que cada persona participante cuente con un registro previo en el sitio.</p>
    <p>
      En el Portal, las personas participantes podrán interactuar en alguno de los siguientes procesos:
      <ul>
        <li>Consultas ciudadanas</li>
        <li>Propuestas ciudadanas</li>
        <li>Debates</li>
        <li>Propuestas de presupuestos participativos</li>
      </ul>
    </p>
    <p>La disponibilidad para participar en cada proceso dependerá exclusivamente de las determinaciones que tome el Gobierno Regional de Antofagasta, pudiendo aplicar todos o solo algunas de las modalidades participativas antes expuestas. </p>
  
    <h4>5. Política de privacidad y protección de datos</h4>
    <p>El correo electrónico registrado por la persona participante será usado con el sólo propósito de enviarle notificaciones automáticas relacionadas con su uso de la plataforma, así como con noticias del Gobierno Regional de Antofagasta.</p>
    <p>Las respuestas entregadas por cada persona participante serán utilizadas para mejorar la comunicación, estándares de calidad, satisfacer las necesidades de la comunidad y asegurar su participación en el progreso económico, social y cultural de la región. Las respuestas podrán ser segmentadas por comuna, género, edad u otro parámetro que el Gobierno Regional de Antofagasta defina para poder mejorar los análisis de información. </p>
    <p>Este sitio contiene enlaces a Google Analytics con la finalidad de tener visibilidad y métricas respecto a la frecuencia, horario, origen y ciertas características de los navegadores utilizados por nuestros usuarios; únicamente con el fin de mejorar el proceso de navegación en base a resultados numéricos.</p>

    <h4>6. Uso de cookies</h4>
    <p>Una cookie corresponde a un fichero que la plataforma envía y almacena en su navegador. Sirve para tener información respecto al tráfico web de una persona usuaria, y facilita las futuras visitas que se realicen a la misma página web. Además de ello, las cookies se utilizan para que las webs pueden reconocer individualmente a una persona usuaria, y brindarle un servicio personalizado.</p>
    <p>Este Portal emplea las cookies para identificar las páginas más visitadas y su frecuencia, y para facilitar el acceso a quienes ya cuentan con un registro en ella. Esta información, después de que es utilizada, es eliminada de forma permanente, y no entrega acceso a información del equipo desde el que se accede a la web, ni a información de la persona usuaria.</p>
    <p>Es posible eliminar las cookies en cualquier momento desde la configuración de su navegador, lo que puede ocasionar la no disponibilidad de algunas de las opciones del Portal, como recordar el inicio de sesión de cada usuario.</p>
  
    <h4>7. Revisión de las condiciones de uso</h4>
    <p>Hive Technologies SpA y el Gobierno Regional de Antofagasta se reservan el derecho de revisar las presentes condiciones de uso y la política de privacidad en cualquier momento y por cualquier razón. En dicho caso, las personas usuarias registradas serán avisados a través de este espacio en línea y, si continúan utilizando el Portal, se entenderán aceptadas las modificaciones introducidas.</p>
  </div>
</div>
