<% if CustomTracking.where(page: request.fullpath).exists? %>
    <% @custom_tracking = CustomTracking.where(page: request.fullpath).first %>
    <% @custom_tracking.count += 1 %>
    <% @custom_tracking.save %>
<% else %>
    <% @custom_tracking = CustomTracking.create(page: request.fullpath, count: 1) %>
<% end %>
<main>
    <div class="row">
        <div class="small-12 column">
            <h1>
                <i class="fas fa-info-circle"></i> Su participación es voluntaria e informada
            </h1><br/><br/>
            <p>
                ¡Hola! queremos que participes de manera informada; para ello te pedimos que leas la
                siguiente declaración y si estás de acuerdo con participar, te invitamos a dar tu
                asentimiento.<br/><br/>
                “Has sido invitado/a a participar en Tu Opinión Cuenta, el proceso participativo para el
                Segundo Plan Nacional de Derechos Humanos organizado por la Subsecretaría de
                Derechos Humanos.<br/><br/>
                Su participación consistirá en contestar un cuestionario de preguntas opcionales, de
                forma grupal, a través de una plataforma virtual. Sus opiniones e ideas serán enviadas a
                los ministerios para que puedan considerarlas en la redacción del Segundo Plan Nacional
                de Derechos Humanos.<br/><br/>
                Tus respuestas serán confidenciales, es decir que sólo serán conocidas aquellas que
                decidas publicar en tus redes sociales, pero la Subsecretaría de Derechos Humanos no
                podrá relacionar tus respuestas con tu identidad.<br/><br/>
                Estás en tu derecho de dejar de participar en cualquier momento si así lo quieres, sin que
                esta decisión te perjudique”.<br/><br/>
                <strong>He leído esta hoja de asentimiento informado, estoy de acuerdo con su contenido, lo
                comprendo y acepto participar en esta consulta.</strong>
            </p><br/><br/>
            <%= link_to "Quiero participar", '/confirm_registration_2', class: 'button' %>
            <%= link_to "No quiero participar", root_url, class: 'button' %>
        </div>
    </div>
</main>