<main>
    <div class="row">
        <div class="small-12 column">
            <h1>
                <i class="fas fa-check"></i> Has entregado tu Asentimiento Informado
            </h1><br/><br/>
            <p>
                Muchas gracias por entregarnos tu asentimiento informado para participar junto a tu grupo.
            </p><br/><br/>
            <%= link_to "Ir a la plataforma participativa", root_url, class: 'button' %>
        </div>
    </div>
</main>