<%= content_for :body_class, "custom-single-page" %>

<div class="row margin-top margin-bottom">
  <div class="small-12 column">
    <%= render Custom::CustomPageHeaderComponent.new('CONSEJO REGIONAL', '/images/pages/core/header.jpeg') %>  
  </div>
</div>

<div class="row margin-top margin-bottom">
  <div class="small-12 column">
    <h3>Objetivo</h3>

    <p>
      El Consejo Regional es el órgano colegiado del Gobierno Regional. Tiene por finalidad hacer efectiva participación de la comunidad regional en el Gobierno Regional. Está investido de facultades normativas, resolutivas y fiscalizadoras, y debe inspirarse en principios de equidad, eficiencia y eficacia en la asignación y utilización de los recursos públicos.
    </p>

    <br>
    <h3>Composición</h3>
    <p>
      El CORE está integrado por los las y los Consejeros Regionales, electas/os por votación popular. A diferencia del COSOC REGIONAL, que tiene un carácter consultivo, el CORE tiene la potestad de aprobar, rechazar o modificar iniciativas de inversión propuestas por el Gobernador Regional.
    </p>
    <p>
      En la Región de Antofagasta el CORE lo integran 16 Consejeras y Consejeros Regionales:<br>
      8 de la Provincia de Antofagasta<br>
      5 de la Provincia de El Loa<br>
      3 de la Provincia de Tocopilla<br>
    </p>

    <p>
      El Consejo Regional es presidido por el Gobernador de la Región de Antofagasta, Ricardo Díaz Cortés. 
    </p>

    <p>
      Funciones Según la Ley 19.175
    </p>

    <p>
      Artículo 36.- Corresponderá al consejo regional:
      <ol type="a">
        <li>Aprobar el reglamento que regule su funcionamiento, en el que se podrá contemplar la existencia de diversas comisiones de trabajo;</li>
        <li>Aprobar los reglamentos regionales;</li>
        <li>
          <p>Aprobar los planes regionales de desarrollo urbano, los planes reguladores metropolitanos y los planes reguladores intercomunales propuestos por la secretaría regional Ministerial de Vivienda y Urbanismo</p>
          <p>Aprobar los planes reguladores comunales y los planes seccionales de comunas que no formen parte de un territorio normado por un plan regulador metropolitano o intercomunal, previamente acordados por las municipalidades, en conformidad con la ley General de Urbanismo y Construcciones, sobre la base del informe técnico que deberá emitir la secretaría regional ministerial de Vivienda y Urbanismo respectiva.</p>
          <p>No obstante lo anterior, le corresponderá pronunciarse sobre los planes reguladores comunales y los planes seccionales de comunas que, formando parte de un territorio normado por un plan regulador metropolitano o intercomunal, hayan sido objeto de un informe técnico desfavorable de la secretaría regional ministerial de Vivienda y Urbanismo, sólo respecto de aquellos aspectos que hayan sido objetados en dicho informe.</p>
          <p>El consejo regional deberá pronunciarse dentro del plazo de noventa días, contado desde su recepción, cuando se trate de planes regionales de desarrollo urbano, planes reguladores metropolitanos o intercomunales. Tratándose de planes reguladores comunales y seccionales, el pronunciamiento deberá emitirse dentro del plazo de sesenta días. Transcurridos que sean dichos plazos, se entenderá aprobado el respectivo instrumento de planificación.</p>
        </li>
        <li>Aprobar, modificar o sustituir el plan de desarrollo de la región y el proyecto de presupuesto regional, así como sus respectivas modificaciones, sobre la base de la proposición del intendente;</li>
        <li>Resolver, sobre la base de la proposición del intendente, la distribución de los recursos del Fondo Nacional de Desarrollo Regional que correspondan a la región, de los recursos de los programas de inversión sectorial de asignación regional y de los recursos propios que el Gobierno Regional obtenga en la aplicación de lo dispuesto en el N 20 del artículo 19 de la Constitución Política de la República;</li>
        <li>Aprobar, sobre la base de la proposición del intendente, los convenios de programación que el gobierno regional celebre;</li>
        <li>Fiscalizar el desempeño del intendente regional en su calidad de presidente del consejo y de órgano ejecutivo del mismo, como también el de las unidades que de él dependan, pudiendo requerir del intendente la información necesaria al efecto;</li>
        <li>Dar su acuerdo al intendente para enajenar o gravar bienes raíces que formen parte del patrimonio del gobierno regional y respecto de los demás actos de administración en que lo exijan las disposiciones legales, incluido el otorgamiento de concesiones;</li>
        <li>Emitir opinión respecto de las proposiciones de modificación a la división política y administrativa de la región que formule el gobierno nacional, y otras que le sean solicitadas por los Poderes del Estado, y</li>
        <li>Ejercer las demás atribuciones necesarias para el ejercicio de las funciones que la ley le encomiende.</li>
      </ol>
    </p>

    <p>
      Secretaría Ejecutiva del Consejo Regional
    </p>
    
    <p>
      La secretaría tiene, definida por ley, la tarea de prestar asesoría para el desempeño de las funciones del Consejo Regional. Para tales efectos, el secretario ejecutivo cuenta con personal administrativo de apoyo. En el caso del CORE de Antofagasta el cargo de secretario ejecutivo lo ocupa Don Víctor Hugo Veliz Fanta.
    </p>

    <p>
      Para mayor información del Consejo Regional, dirigirse a la siguiente dirección:<br>
      <a href="https://goreantofagasta.cl/consejo-regional/goreantofagasta/2016-09-20/121353.html" target="_blank">
        https://goreantofagasta.cl/consejo-regional/goreantofagasta/2016-09-20/121353.html
      </a>
    </p>

    <div class="pages-gallery-container">
      <%= render Custom::BigCircleSliderComponent.new([
        '/images/pages/core/1.jpg',
      ]) %>
    </div>
  </div>
</div>
