<%= content_for :body_class, "custom-single-page" %>

<div class="row margin-top margin-bottom">
  <div class="small-12 column">
    <%= render Custom::CustomPageHeaderComponent.new('¿Qué es el Consejo de la Sociedad Civil Regional – COSOC Regional?', '/images/pages/cosoc/header.jpeg') %>  
  </div>
</div>

<div class="row margin-top margin-bottom">
  <div class="small-12 column">
    <p>
      El Consejo de la Sociedad Civil Regional de Antofagasta es un órgano ciudadano y consultivo del Gobierno Regional, creado en virtud de la ley 20.500 sobre asociaciones y participación ciudadana en la gestión pública. El objetivo de este cuerpo colegiado es incidir en el diseño, ejecución y evaluación de las políticas públicas que ejecuta el GORE. Además, es parte del compromiso del Gobierno Regional de generar instancias reales de participación ciudadana.
    </p>
    <p>
      Actualmente está compuesto por 26 consejeros y consejeras de organizaciones de la sociedad civil y de COSOC Municipales de las 9 comunas de la región.
    </p>
    <p>
      También busca favorecer la relación entre la Sociedad Civil y el Gobierno Regional, generando un canal de comunicación directo entre las organizaciones sociales y quienes lideran el Gobierno Regional.
    </p>

    <br>
    <h3>¿En qué está el COSOC REGIONAL?</h3>
    <p>
      El COSOC Regional, desde su fecha de constitución en febrero de 2022 se encuentra activo y en funcionamiento. Entre las actividades desarrolladas se encuentran:
    </p>

    <p>
      <ul>
        <li>Desarrollo de sesiones ordinarias mensuales. A diciembre de 2023 cuentan con 14 sesiones ordinarias y 2 sesiones extraordinarias.</li>
        <li>Conformación de 3 comisiones provinciales: Antofagasta, El Loa y Tocopilla.</li>
        <li>Conformación de comisión seguimiento F.N.D.R 8%</li>
        <li>Participación de representantes COSOC en distintas instancias de participación a nivel regional: Cuenta Pública 2023, Mesa del Agua, Urbano, Consejo Asesor Multiactor de Litio Y Salares, PARCC, entre otros.</li>
        <li>Trabajo de fortalecimiento interno, a través de la detección de necesidades de formación y capacitación de consejeros y consejeras.</li>
        <li>Participación en Jornadas de capacitación: sesión extraordinaria realizada con el objetivo de capacitar al órgano consultivo en materias de inversión del Gobierno Regional, dictado por funcionarios y funcionarias del Gobierno Regional.</li>
        <li>La secretaría ejecutiva elabora propuesta de programa en líneas de fortalecimiento y capacitación para el Consejo de La Sociedad Civil, AGES 2024.</li>
      </ul>
    </p>

    <br>
    <h3>¿Cuáles son sus funciones y atribuciones?</h3>
    <p>
      El COSOC Regional tiene las siguientes funciones y atribuciones:

      <ol type="a">
        <li>Realizar el seguimiento de las políticas, planes, proyectos y programas del Gobierno Regional, apoyando con su experiencia y retroalimentación de información al enriquecimiento y fortalecimiento de la gestión pública, contribuyendo así al más eficiente, eficaz e inclusivo funcionamiento del Gobierno Regional.</li>
        <li>Canalizar propuestas, demandas y requerimientos públicos y ciudadanos en torno al quehacer del Gobierno Regional.</li>
        <li>Conocer y formular observaciones a reglamentos regionales y acciones del Gobierno Regional que tengan relación con procesos de participación ciudadana.</li>
        <li>Dar seguimiento sobre la ejecución y avance presupuestario del Fondo Nacional de Desarrollo Regional F.N.D.R. (o el fondo que lo reemplace en el futuro).</li>
        <li>Proponer medidas de participación ciudadana a las unidades, divisiones y/o departamentos que tengan la participación como su principal función dentro del Gobierno Regional.</li>
        <li>Participar y colaborar consultivamente en la definición e implementación de la Política Regional de Gobernanza y Participación Ciudadana Regional y sus futuras adecuaciones y/o modificaciones.</li>
        <li>Proponer al Ejecutivo del Gobierno Regional, previa aprobación de los tres quintos de las y los consejeros de la sociedad civil en ejercicio, la realización de consultas públicas en materias de alto interés regional, de acuerdo a lo establecido en la Política Regional de Gobernanza y Participación Ciudadana Regional y su Reglamento.</li>
        <li>El Consejo de la Sociedad Civil podrá manifestarse en todos los temas que estime pertinente expresar su opinión, lo que deberá acordar en sesión y comunicar por escrito al Gobierno Regional y por los medios dispuestos.</li>
        <li>Deberán informar y dar cuenta de su labor a sus organizaciones y a la ciudadanía y habitantes de la región de Antofagasta. El COSOC Regional deberá realizar una cuenta pública al año.</li>
        <li>Conocer, contribuir y sugerir sus observaciones a la Cuenta Pública Participativa anual del Gobernador/a Regional, previa presentación de esta a la ciudadanía regional.</li>
        <li>Elaboración de un Plan Anual de Trabajo durante el primer trimestre de cada año calendario.</li>
        <li>Formulación y modificación de su reglamento interno de sala o funcionamiento habitual, de acuerdo a lo establecido en el artículo N°41.</li>
      </ol>
    </p>

    <p>
      Asimismo, el consejo tendrá funciones de tipo consultivas, aportando conocimientos, experiencias y opiniones sobre hechos de relevancia e información ciudadana, respecto de materias que contribuyan al desarrollo de las regiones y comunas, que permitan fortalecer su capacidad de buen gobierno, en coherencia con el proceso de descentralización, y resguardando que las políticas regionales incorporen transversalmente perspectivas de género, diversidad e inclusión y equidad territorial, sea en aquellas en que participe directamente el Gobierno Regional en tanto ejecutor, financista o cofinancista, como en aquellas que desarrollen sus órganos, corporaciones, fundaciones, centros o cualquier otro órgano en donde el Gobierno Regional tenga participación mayoritaria.
    </p>

    <br>
    <h3>¿En qué está el COSOC REGIONAL?</h3>
    <p>
      El COSOC Regional, desde su fecha de constitución en febrero de 2022 se encuentra activo y en funcionamiento. Entre las actividades desarrolladas se encuentran:

      <ul>
        <li>Desarrollo de sesiones ordinarias mensuales. A diciembre de 2022 cuentan con 9 sesiones ordinarias y 1 sesión extraordinaria.</li>
        <li>Elaboración del reglamento interno o reglamento de sala, que les permite fijar mínimos de funcionamiento.</li>
        <li>Conformación de 3 comisiones provinciales: Antofagasta, El Loa y Tocopilla.</li>
        <li>Participación de representantes COSOC en distintas instancias de participación a nivel regional: Cuenta Pública Participativa, Mesa del Agua, Consejo de Ciudades Puerto, Consejo Regional de Desarrollo Urbano, entre otras.</li>
        <li>Trabajo de fortalecimiento interno, a través de la detección de necesidades de formación y capacitación de consejeros y consejeras.</li>
        <li>Participación en Jornadas de capacitación: Participación Ciudadana en la Gestión de los Gobiernos Regionales, febrero de 2022 y Análisis de informe de Cuenta Pública Participativa 2022, dictado por funcionarios y funcionarias del Gobierno Regional.</li>
      </ul>
    </p>

    <p>
      Para mayor información del COSOC Regional, dirigirse a la siguiente dirección:<br>
      <a href="https://goreantofagasta.cl/cosoc-regional/goreantofagasta/2022-07-18/172136.html" target="_blank">
        https://goreantofagasta.cl/cosoc-regional/goreantofagasta/2022-07-18/172136.html
      </a>
    </p>

    <div class="pages-gallery-container">
      <%= render Custom::BigCircleSliderComponent.new([
        '/images/pages/cosoc/1.jpeg',
        '/images/pages/cosoc/2.jpeg'
      ]) %>
    </div>
  </div>
</div>
