<%= render "shared/section_header",
    color: "#6195d6",
    section_image: "/images/h-equipo-territorial.svg",
    title: 'Equipo Territorial',
    show_buildings: true
%>
<div class="row pfc-page">
    <h2>¿Qué hace el equipo territorial?</h2>
    <p>
        La misión del equipo territorial es ser un canal efectivo de comunicación entre la municipalidad y los vecinos con el fin de lograr una comuna más conectada con su comunidad y sus requerimientos.
    </p>
    <p>
        <strong>Conoce al territorial de tu sector en el siguiente mapa:</strong>
    </p>
</div>

<div class="general-footer-container">
    <%= render 'shared/waves_footer', color1: '#7aa7de', color2: '#6195d6' do %>
    <% end %>
</div>