<%
  @unidades = {
    'MT-01': {
      :sectors => ['C-20', 'C-21', 'C-24', 'C-25'],
      :persons => [
        {
          :name => 'Nicole Lagos',
          :email => 'nlagosk@lascondes.cl',
          :photo => 'Nicole Lagos.png'
        },
        {
          :name => 'Melanie Bonilla',
          :email => 'mbonilla@lascondes.cl',
          :photo => 'Melanie Bonilla.png'
        },
        {
          :name => 'Hernán Rodrigo',
          :email => 'hrodrigo@lascondes.cl',
          :photo => 'Hernán Rodrigo.png'
        }
      ]
    },
    'MT-02': {
      :sectors => ['C-1', 'C-2', 'C-10', 'C-18'],
      :persons => [
        {
          :name => 'Christopher Pardo',
          :email => 'cpardo@lascondes.cl',
          :photo => 'Christopher Pardo.png'
        },
        {
          :name => 'José Ignacio Reyes',
          :email => 'jose.reyes@lascondes.cl',
          :photo => 'José Reyes.png'
        },
        {
          :name => 'Vicente Rojas',
          :email => 'vicente.rojas@lascondes.cl',
          :photo => 'Vicente Rojas.png'
        }
      ]
    },
    'MT-03': {
      :sectors => ['C-3', 'C-4', 'C-5', 'C-6', 'C-7', 'C-8'],
      :persons => [
        {
          :name => 'Christopher Pardo',
          :email => 'cpardo@lascondes.cl',
          :photo => 'Christopher Pardo.png'
        },
        {
          :name => 'Francisca Pereira',
          :email => 'fpereira@lascondes.cl',
          :photo => 'Francisca Pereira.png'
        },
        {
          :name => 'Victor Arratia',
          :email => 'varratia@lascondes.cl',
          :photo => 'Victor Arratia.png'
        }
      ]
    },
    'MT-04': {
      :sectors => ['C-11', 'C-12', 'C-17', 'C-19'],
      :persons => [
        {
          :name => 'Matias Camilo',
          :email => 'mcamilo@lascondes.cl',
          :photo => 'Matias Camilo.png'
        },
        {
          :name => 'Samuel Rojas',
          :email => 'srojas@lascondes.cl',
          :photo => 'Samuel Rojas.png'
        }
      ]
    },
    'MT-05': {
      :sectors => ['C-13', 'C-14', 'C-15', 'C-16'],
      :persons => [
        {
          :name => 'Mauricio Araneda',
          :email => 'maraneda@lascondes.cl',
          :photo => 'Mauricio Araneda.png'
        },
        {
          :name => 'Hugo Farias',
          :email => 'hugo.farias@lascondes.cl',
          :photo => 'Hugo Farias.png'
        },
        {
          :name => 'Ignacio Soriano',
          :email => 'isoriano@lascondes.cl',
          :photo => 'Ignacio Soriano.png'
        }
      ]
    },
    'MT-06': {
      :sectors => ['C-9', 'C-22', 'C-23'],
      :persons => [
        {
          :name => 'Rodrigo Gonzalez',
          :email => 'ragonzalez@lascondes.cl',
          :photo => 'Rodrigo Gonzalez.png'
        },
        {
          :name => 'Danny Lagos',
          :email => 'dlagos@lascondes.cl',
          :photo => 'Danny Lagos.png'
        }
      ]
    }
  }
%>

<%= render "shared/section_header",
  color: "#6195d6",
  section_image: "/images/h-equipo-territorial.svg",
  title: 'Equipo Territorial',
  show_buildings: true,
  image_style: 'left: 40%;'
%>
<div class="row pfc-page">
  <div class="small-12 column">
    <h2>¿Qué hace el equipo territorial?</h2>
    <p>
      La misión del equipo territorial es ser un canal efectivo de comunicación entre la municipalidad y los vecinos con el fin de lograr una comuna más conectada con su comunidad y sus requerimientos.
    </p>
    <p>
      <strong>Conoce al territorial de tu sector haciendo clic en el siguiente mapa:</strong>
    </p>
  </div>
</div>
<div class="row pfc-page">
  <div class="small-12 medium-8 column mt-2">
    <div id="leaflet"></div>
  </div>
  <div class="small-12 medium-4 column mt-2">
    <div class="info-card">
      <div class="info-card-header" style="background-color: #4082d8;" id="card-header">
        <h3 style="font-size: 1.4em;">Equipo Territorial <span id="mt-name"></span></h3>
      </div>
      <div class="info-card-body" style="flex-direction: column; height: auto;">
        <p style="font-size: 1em; color: #222222;">
          <span id="uv-or-message" style="font-weight: normal;">Selecciona una zona del mapa para ver la información.</span><br>
          <span id="mt-sectors" style="color: #4081d8;"></span>
        </p>
        <div id="orbit-parent" class="orbit" role="region" aria-label="Favorite Space Pictures" data-use-m-u-i="false" data-orbit data-auto-play="false" style="flex-direction: column; display: none;">
          <div class="orbit-wrapper">
            <ul class="orbit-container" id="mt-persons">
            </ul>
          </div>
          <nav class="orbit-bullets" style="margin-top: 0;" id="mt-orbit-bullets">
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="general-footer-container">
  <%= render 'shared/waves_footer', color1: '#7aa7de', color2: '#6195d6' do %>
  <% end %>
</div>

<%= javascript_tag do %>
var map = new L.Map('leaflet')
var mtColors = {
  'MT-01': '#c93358',
  'MT-02': '#33cc9d',
  'MT-03': '#fe6b01',
  'MT-04': '#f25b86',
  'MT-05': '#3ba5df',
  'MT-06': '#8148b3'
}
$('#mt-persons').hide()

$.getJSON('/mt.geojson', function(geojson) {
  var osm = new L.TileLayer.BoundaryCanvas("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png");
  map.addLayer(osm)

  var selectedFeature
  var selectedLayer
  var unidades = <%= raw(@unidades.to_json) %>

  function onEachFeature(feature, layer) {
    layer.setStyle({
      color: mtColors[feature.properties['MACRO_T']],
      opacity: 1,
      fillOpacity: 0.5
    }) 
    layer.on('click', function() {
      var currentFeature = feature.properties['MACRO_T']

      if (selectedFeature !== currentFeature) {
        $('#mt-persons').hide()
        if (selectedLayer) {
          selectedLayer.setStyle({
            color: mtColors[selectedLayer.feature.properties['MACRO_T']],
            opacity: 1,
            fillOpacity: 0.4
          }) 
        }

        selectedLayer = layer
        selectedFeature = currentFeature
        var selectedMT = unidades[selectedFeature]
        $('#card-header').css('background-color', mtColors[feature.properties['MACRO_T']])
        $('#mt-name').text(selectedFeature)
        $('#uv-or-message').text('Unidades vecinales')
        $('#mt-sectors').text(selectedMT['sectors'].join(' / '))
        $('#mt-persons').html('')
        $('#mt-orbit-bullets').html('')
        layer.setStyle({
          color: mtColors[feature.properties['MACRO_T']],
          opacity: 1,
          fillOpacity: 0.8
        }) 

        selectedMT['persons'].forEach(function(person, index) {
          $('#mt-persons').append(`<li class="orbit-slide ${index === 0 ? 'is-active' : ''}">
              <p style="font-size: 1em; font-weight: normal; color: #222222;">
                ${person['name']}<br>
                <a href="mailto:${person['email']}" style="color: #4081d8;">${person['email']}</a><br>
                <img src="/images/equipo-territorial/${person['photo']}" style="max-height: none; max-width: none; max-width: 200px;" %>
              </p>
            </div>`)
          $('#mt-orbit-bullets').append(`<button data-slide="${index}" class="${index === 0 ? 'is-active' : ''}">
              <span class="show-for-sr"></span>
            </button>`)
        })
        Foundation.reInit($('.orbit'))
        $('#orbit-parent').show()
        $('#mt-persons').show()
      }
    })

  }

  var gjLayer = L.geoJSON(geojson)
  map.fitBounds(gjLayer.getBounds());
  L.geoJSON(geojson, {
    onEachFeature: onEachFeature,
  }).addTo(map)

})
<% end %>
