<% if current_user %>
<div class="row margin-top">
  <div class="small-12 medium-12 column">
    <h1>¡Gracias por participar!</h1>
    <p>Tus respuestas y tus datos se enviaron correctamente.</p>
  </div>
</div>
<% end %>