<% if current_user %>
    <% if params[:group].present? %>
        <main>
            <div class="row">
                <h1>
                    Bienvenida
                </h1><br/>
                <p>
                    ¡Bienvenidos y bienvenidas! Esta es una encuesta que busca conocer las opiniones de su grupo / curso sobre temas de derechos humanos.<br/><br/>
                    Debido a la pandemia por Covid-19, les recomendamos reunirse a través de videollamada. Pueden hacerlo desde la plataforma que prefieran. Acá les recomendamos tres opciones gratuitas: Jitsi meet (no necesitas iniciar sesión, videollamada ilimitada) Meet (necesitas iniciar sesión en google, videollamada por tiempo ilimitado) / Zoom (necesitas registrarte en zoom, videollamada por 45 minutos).<br/><br/>
                    Tus compañeros y compañeras de grupo podrán ingresar a la videollamada a través del enlace que compartas y, como guía de grupo, podrás usar la función de “compartir pantalla” para que todos puedan ver el cuestionario responder entre todos (es recomendable que el o la Guía de Grupo utilice un computador).<br/><br/>
                    Les recomendamos que revisen juntos la guía para la participación grupal en la pestaña ¿Cómo Participar? ahí encontrarán las actividades para promover el análisis grupal basado en el diálogo democrático y el intercambio de ideas, para que este cuestionario sea fruto de un trabajo colectivo. <br/><br/>
                    El tiempo que necesitan para responder este cuestionario de manera grupal es de 1 hora y 30 minutos. Si no alcanzan a terminar en una sesión, podrán continuar otro día, hasta el 30 de mayo.<br/><br/>
                    Importante: al inscribir a los miembros del grupo les llegará un correo de “asentimiento informado”, en el que ustedes declaran que entienden en qué consiste esta participación y su acuerdo con participar; el que deberán aceptar para que su participación sea válida.<br/><br/>
                    Ahora, ¡a participar!<br/>
                </p><br/>
                <%= link_to "Continuar", '/form_intro_2?group=' + params[:group], class: 'button' %>
            </div>
        </main>
    <% else %>
        <main>
            <div class="row">
                <h1>
                    Introducción
                </h1><br/>
                <p>
                    Cada cuatro años las autoridades se comprometen con acciones concretas para respetar,
                    proteger y garantizar los derechos humanos de las personas que viven en Chile. Estos
                    compromisos se escriben en el Plan Nacional de Derechos Humanos y tienen metas y
                    plazos para ser cumplidos. Este año los ministerios y servicios deberán asumir nuevos
                    compromisos para los próximos cuatro años y queremos <strong>que escuchen tu opinión respecto
                    de cuáles son los problemas de derechos humanos y tus ideas sobre cuáles deberían ser
                    las soluciones que comprometan en el plan.</strong><br/><br/>
                    Queremos invitarte a que nos digas qué problemas de derechos humanos afectan a las
                    personas hoy, a buscar soluciones para incluir en el Segundo Plan Nacional de Derechos
                    Humanos y a idear mecanismos para darle seguimiento.<br/><br/>
                    Pero.. ¡no es tan sencillo encontrar soluciones a los problemas! y lo sabemos. Por ello
                    vamos a apoyarnos en una técnica que hará que tu participación sea muy entretenida y
                    profunda a la vez: <a href="#">“El árbol de problemas”</a>.<br/><br/>
                    Esta técnica nos permite encontrar soluciones que realmente puedan resolver un problema;
                    es decir, que puedan resolver aquellas causas que lo provocan. Esto se logra imaginando
                    que la situación de derechos humanos que nos preocupa es un gran árbol. El problema que
                    identificamos es el tronco; las raíces son las causas del problema y las hojas del árbol son
                    los efectos del problema. Una vez que revisamos las relaciones entre el problema, sus
                    causas y sus efectos, podremos preguntarnos qué solución podría resolverlo.<br/><br/>
                    Te invitamos a <a href="#">descargar la guía para la participación individual</a>
                    para contestar las siguientes preguntas.<br/><br/>
                </p><br/>
                <%= link_to "Continuar", new_quiz_path(type: 'individual'), class: 'button' %>
            </div>
        </main>
    <% end %>
<% else %>
    <% controller.redirect_to root_path %>
<% end %>