<%= content_for :body_class, "custom-single-page" %>

<div class="row margin-top margin-bottom">
  <div class="small-12 column">
    <%= render Custom::CustomPageHeaderComponent.new('¿Qué es el Programa de Formación en Ciudadanía y Democracia?', '/images/pages/formacion-ciudadana/header.jpg') %>  
  </div>
</div>

<div class="row margin-top margin-bottom">
  <div class="small-12 column">
    <p>
      El Eje N° 1 del Plan de Gobierno 2021-2024, del Gobierno Regional de Antofagasta (“Participación Ciudadana”), considera entre sus compromisos la “creación de un Programa de Formación y Fortalecimiento de la Sociedad Civil y la Ciudadanía Regional, en materias de participación, democracia, ciudadanía y derechos humanos”.
    </p>

    <p>
      Llevar adelante este programa no solo supone cumplir con un compromiso refrendado en el Plan de Gobierno, sino plasmar en los hechos una nueva forma de ejercer el poder y la administración pública, donde las y los ciudadanos pasen a ser protagonistas e incidentes en las decisiones y en las políticas públicas que se impulsan.
    </p>

    <p>
      De este modo, se busca no solamente transmitir contenidos relativos al funcionamiento del sistema político y sus leyes, sino promover valores democráticos y herramientas que contribuyan a mejorar la convivencia y que amplíen la participación de las comunidades en las decisiones que impactan en sus territorios y en sus vidas.
    </p>

    <p>
      Con ciudadanos y ciudadanas más críticos, conscientes de sus derechos y con herramientas para ejercerlos, podremos aspirar a construir una sociedad más justa.
    </p>

    <br>
    <h3>¿Qué objetivo tiene el Programa de Formación en Ciudadanía y Democracia?</h3>
    <p>
      La creación del Programa de Formación y en Ciudadanía y Democracia tiene como propósito: Promover una ciudadanía activa, involucrada con los procesos de cambios sociales, culturales e institucionales, tolerante con la diversidad, con los modos de convivencia y respetuosa de la dignidad humana.
    </p>
    <p>
      Y con esto contribuir a recuperar la cohesión social para fortalecer nuestros vínculos, reducir la violencia social y ser protagonistas del destino de nuestra región. 
    </p>

    <br>
    <h3>¿En qué está el Programa de Formación en Ciudadanía y Democracia?</h3>
    <p>
      A través de un Comité de Formulación, compuesto por instituciones públicas, universidades y ONGs, se está formulando este programa, el que se espera comience a ejecutarse el 2024, en las 9 comunas de la región.
    </p>

    <div class="pages-gallery-container">
      <%= render Custom::BigCircleSliderComponent.new([
        '/images/pages/formacion-ciudadana/1.jpg',
      ]) %>
    </div>
  </div>
</div>
