<div class="jumbo light">
    <div class="row">
    <div class="small-12 column">
        <span class="uppercase">Prueba</span>
        <h2>Título del cuestionario</h2>
    </div>

    <div class="small-12 medium-9 column end">
        <p>Descripción, instrucciones, etc...</p>
    </div>
    </div>
</div>
<div class="row margin-top">
    <ol>
        <li>
            <span style="font-size: 1.2em;">En todas las sociedades existen grupos de personas que están más expuestas a la vulneración de  sus derechos, no sólo por el accionar del Estado sino también por la actividad de las empresas, sean éstas públicas o privadas. Respecto de la interacción con las empresas, <strong>¿cuáles de los siguientes grupos requieren de una preocupación preferente, en el marco del segundo Plan de Acción Nacional de Derechos Humanos y Empresas? Ordene del 1 al 8 de acuerdo a su opinión.</strong></span>
            <br><br>
            <ol type="a">
                <li>Comunidades en zonas de vulnerabilidad socio ambiental</li>
                <li>Mujeres</li>
                <li>Niños, Niñas y Adolescentes</li>
                <li>Comunidad LGBTIQ+</li>
                <li>Migrantes o refugiados</li>
                <li>Población indígena</li>
                <li>Personas con discapacidad</li>
                <li>Personas mayores</li>
                <li>Otros</li>
            </ol>
        </li>
        <br><br>
        <li>
            <ol>
                <li>
                    <span style="font-size: 1.2em;">
                        La relación entre las personas y las empresas, sean públicas o privadas, puede traducirse en diversos tipos de interacciones. Las más habituales son aquellas que sitúan a la persona como consumidor, trabajador(a) o miembro de una comunidad que convive con la actividad industrial de una empresa.
                        <strong><br>Desde su experiencia como trabajador(a), ¿cuál de los siguientes ámbitos requiere de una preocupación preferente por parte de la empresa? Seleccione hasta tres opciones.</strong>
                    </span>
                    <br>
                    <br>
                    <ol type="a">
                        <li><input type="checkbox" id="cbox2" value="second_checkbox"> Políticas de Inclusión y no discriminación</li>
                        <li><input type="checkbox" id="cbox2" value="second_checkbox"> Derechos sindicales</li>
                        <li><input type="checkbox" id="cbox2" value="second_checkbox"> Resguardo de la privacidad e intimidad de los trabajadores/as</li>
                        <li><input type="checkbox" id="cbox2" value="second_checkbox"> Condiciones de seguridad en el trabajo</li>
                        <li><input type="checkbox" id="cbox2" value="second_checkbox"> Políticas de conciliación trabajo y familia</li>
                        <li><input type="checkbox" id="cbox2" value="second_checkbox"> Equidad salarial</li>
                        <li><input type="checkbox" id="cbox2" value="second_checkbox"> Otro(a)</li>
                        <li><input type="checkbox" id="cbox2" value="second_checkbox"> No aplica (*)</li>
                    </ol>
                    <small>* En caso de que usted nunca haya trabajado en una empresa, por favor marque esta opción.</small>
                </li>
                <br>
                <br>
                <li>
                    <span style="font-size: 1.2em;">
                        Desde su experiencia como miembro de una comunidad que convive con la actividad de una empresa, ¿cuál de los siguientes ámbitos requiere de una preocupación preferente por parte de ella? Seleccione hasta tres opciones.
                    </span>
                    <br>
                    <br>
                    <ol type="a">
                        <li><input type="checkbox" id="cbox2" value="second_checkbox"> Cuidado del medio ambiente y biodiversidad</li>
                        <li><input type="checkbox" id="cbox2" value="second_checkbox"> Salud de los miembros de la comunidad</li>
                        <li><input type="checkbox" id="cbox2" value="second_checkbox"> Políticas de calidad de vida para la comunidad</li>
                        <li><input type="checkbox" id="cbox2" value="second_checkbox"> Acceso la información y transparencia respecto de las actividades de la empresa</li>
                        <li><input type="checkbox" id="cbox2" value="second_checkbox"> Acceso a mecanismos de participación o consulta comunitaria</li>
                        <li><input type="checkbox" id="cbox2" value="second_checkbox"> Acceso a medidas de reclamación y reparación por parte de la empresa</li>
                        <li><input type="checkbox" id="cbox2" value="second_checkbox"> Otro(a)</li>
                    </ol>
                </li>
                <br>
                <br>
                <li>
                    <span style="font-size: 1.2em;">
                        Desde su experiencia como cliente/consumidor, ¿cuál de los siguientes ámbitos requiere una preocupación preferente por parte de las empresas? Seleccione hasta tres opciones.
                    </span>
                    <br>
                    <br>
                    <ol type="a">
                        <li><input type="checkbox" id="cbox2" value="second_checkbox"> Asegurar la igualdad y no discriminación en el trato a los/as clientes/consumidores</li>
                        <li><input type="checkbox" id="cbox2" value="second_checkbox"> Preocuparse de la salud mental y física de los/las clientes/consumidores</li>
                        <li><input type="checkbox" id="cbox2" value="second_checkbox"> Acceso a la información y transparencia de los productos y servicios que ofrece la empresa</li>
                        <li><input type="checkbox" id="cbox2" value="second_checkbox"> Cuidar el resguardo de la privacidad e intimidad de los/as clientes/consumidores</li>
                        <li><input type="checkbox" id="cbox2" value="second_checkbox"> Proteger el Medio Ambiente y ocuparse del cambio climático</li>
                        <li><input type="checkbox" id="cbox2" value="second_checkbox"> Otro(a)</li>
                    </ol>
                </li>
            </ol>
        </li>
        <br><br>
        <li>
            <span style="font-size: 1.2em;">En el proceso de elaboración del segundo Plan de Acción Nacional de Derechos Humanos y Empresas, se han identificado los siguientes ámbitos en los que sería prioritario profundizar, a través de determinadas acciones:</span>
            <br><br>
            <ol>
                <li>Incorporar procesos de identificación y gestión de impactos (debida diligencia en derechos humanos) en las empresas públicas</li>
                <li>Incorporar el enfoque de género de manera transversal en las empresas, públicas y privadas</li>
                <li>Avanzar en el establecimiento de mecanismos de reparación por parte de la empresa ante eventuales vulneraciones de derechos humanos producto de su operación</li>
                <li>Incorporar la temática de empresas y DDHH en las pequeñas y medianas empresas</li>
                <li>Que las empresas extiendan sus políticas de DDHH a toda su cadena de suministros</li>
            </ol>
            <br>
            <span style="font-size: 1.2em;"><strong>¿Considera que hay otro(s) ámbito(s) que debería(n) ser abordado(s) por el segundo Plan? 200 palabras</strong></span>
            <textarea rows="3"></textarea>
        </li>
        <br><br>
        <li>
            <span style="font-size: 1.2em;">
                El Primer Plan de Acción Nacional de Derechos Humanos y Empresas contempló 146 acciones comprometidas por 17 instituciones del Estado. Algunas de las medidas implementadas fueron la agenda de “género y energía”, cuyo objetivo fue potenciar el rol de la mujer en el desarrollo del sector energético nacional.
                <br><br>
                Otra de las acciones desarrolladas fueron las “Guías Chile de Derechos Humanos y Empresas”, documento con recomendaciones para que las empresas integren a sus prácticas el enfoque de derechos humanos, con foco en dos grupos de especial protección: migrantes y adultos mayores.
                <br><br>
                <strong>En este contexto, le pedimos que proponga hasta un máximo de tres acciones que puedan ser incorporadas en la segunda versión del PAN, indicando la institución pública que debería llevarla a cabo. (Describa en un máximo de 100 palabras cada acción).</strong>
            </span>
            <br>
            <textarea rows="3"></textarea>
            <textarea rows="3"></textarea>
            <textarea rows="3"></textarea>
        </li>
        <br><br>
        <li>
            <span style="font-size: 1.2em;">
                En la relación de las empresas con las personas, se pueden producir situaciones que impliquen la afectación de sus derechos humanos. Por ejemplo, cuando se discrimina a un cliente(a) por su género u origen étnico; o bien cuando los trabajadores no cuentan con las condiciones mínimas de seguridad para su labor. También podría existir una vulneración de derechos en caso de que, debido a su operación, la empresa genere un impacto ambiental que produce un daño en la salud de las comunidades con las que interactúa.
                <br><br>
                <strong>En este sentido, ¿Conoce alguna situación en la que se hayan visto afectados sus derechos o el de otras personas producto de la actividad de una empresa? (Describa en un máximo de 200 palabras). </strong>
            </span>
            <br>
            <textarea rows="3"></textarea>
        </li>
    </ol>
    <br>
    <button type="button" class="button">Enviar</button>
</div>