<%= content_for :body_class, "custom-single-page" %>

<div class="row margin-top margin-bottom">
  <div class="small-12 column">
    <%= render Custom::CustomPageHeaderComponent.new('¿Qué es el plan Unidos por Bonilla?', '/images/pages/plan-unidos-bonilla/header.jpg') %>  
  </div>
</div>

<div class="row margin-top margin-bottom">
  <div class="small-12 column">
    <p>
      El Gobierno Regional junto a CREO Antofagasta, la Ilustre Municipalidad de Antofagasta, MINVU y las universidades locales UCN, UA y UST están impulsando un proceso de planificación y gobernanza urbana a escala interbarrio, que promueva el desarrollo e implementación de una Agenda Interbarrial, con iniciativas de inversión de corto, mediano y largo plazo. Se busca que esta agenda y sus iniciativas contribuyan a mejorar las condiciones del sector, sean viables para su ejecución y promuevan un proceso de participación y formación ciudadana constante.
    </p>

    <br>
    <h3>¿Qué objetivos tiene el Plan Bonilla?</h3>
    <p>
      El Plan Unidos por Bonilla es una propuesta de articulación pública, académica, sociedad civil y privada, que busca mejorar la calidad de vida en el sector y dar sostenibilidad a diversos procesos e iniciativas de gobernanza y organización social a nivel territorial. De manera particular, el plan busca potenciar una Bonilla Participativa y Unida, como eje estratégico de integración y fortalecimiento de las redes y capacidades comunitarias.
    </p>
    <p>
      El polígono de intervención está dado por los límites de calle Nicolás Tirado (al sur), Pablo Neruda (al norte), Circunvalación y línea férrea/calle Héroes de la Concepción.
    </p>

    <br>
    <h3>¿En qué estamos en el Plan Bonilla?</h3>
    <p>
      Desde enero de 2022 a la fecha se han realizado una serie de actividades como parte de la fase diagnostica y de planificación, entre las que cuentan:
    </p>

    <p>
      <ul>
        <li>Incorporación de la UGPC en la coordinación y el desarrollo del Plan de Regeneración Urbana PLAN BONILLA (GORE- CREO Antofagasta, Municipalidad de Antofagasta)</li>
        <li>Levantamiento de línea de base y diagnóstico socio urbano (realización de talleres de mapeo de actorías, taller de metas y objetivos, taller de retroalimentación de pre diagnóstico).</li>
        <li>Trabajo territorial en polígono, levantamiento de encuestas y taller de memoria social del barrio Bonilla.</li>
        <li>Conformación de grupo inicial (Futuro Consejo Interbarrial de Bonilla y diagnóstico de Gobernanza).</li>
        <li>Gestión del modelo de intervención de Gobernanza Urbana Intermedia en base a modelo de Acción Territorial Vecinal en Plan Bonilla.</li>
        <li>Reuniones previas, elaboración de TDR para contratación de plataforma</li>
        <li>Diseño, planificación y ejecución de taller de memoria Plan Bonilla.</li>
        <li>Diseño, planificación y ejecución de la Jornada de trabajo de la mesa técnica de Plan Bonilla (con la presencia de 25 representantes de instituciones y alrededor de 20 representantes de las organizaciones del territorio).</li>
        <li>Diseño y ejecución de la Jornada de memoria social intergeneracional en el marco del plan “Unid@s por Bonilla” realizado en Plaza Bicentenario.</li>
        <li>El Plan Unidos por Bonilla hace parte de un piloto, que será extendido a comunas de las provincias de El Loa y Tocopilla, en el marco de Zonas de Inversión Pública Prioritaria (ZIPP), definidas en conjunto con otros actores públicos territoriales.</li>
        <li>Realizamos el Programa de las Pinturas Participativas en 3 establecimiento del sector, Liceo Los Arenales, Escuela Elmo Funez, Escuela Juan Pablo II, y el Centro Comunitario Oscar Romero.</li>
      </ul>
    </p>

    <p>
      El Plan Unidos por Bonilla hace parte de un piloto, que será extendido a comunas de las provincias de El Loa y Tocopilla, en el marco de Zonas de Inversión Pública Prioritaria (ZIPP), definidas en conjunto con otros actores públicos territoriales.
    </p>

    <div class="pages-gallery-container">
      <%= render Custom::BigCircleSliderComponent.new([
        '/images/pages/plan-unidos-bonilla/3.jpg',
        '/images/pages/plan-unidos-bonilla/4.jpg',
        '/images/pages/plan-unidos-bonilla/5.jpg',
        '/images/pages/plan-unidos-bonilla/6.jpg',
        '/images/pages/plan-unidos-bonilla/7.jpg',
        '/images/pages/plan-unidos-bonilla/8.jpeg'
      ]) %>
    </div>
  </div>
</div>
