<%= content_for :body_class, "custom-single-page" %>

<div class="row margin-top margin-bottom">
  <div class="small-12 column">
    <%= render Custom::CustomPageHeaderComponent.new('¿Qué es la política Regional de Gobernanza y de Participación Ciudadana?', '/images/pages/politicas/header.jpeg') %>  
  </div>
</div>

<div class="row margin-top margin-bottom">
  <div class="small-12 column">
    <p>
      Una Política de Gobernanza y Participación Ciudadana, es un instrumento de planificación regional, que expresa prioridades e iniciativas públicas regionales que faciliten la incidencia de la sociedad civil y la ciudadanía en el proceso de toma de decisiones regional. Para ello, es necesario el diseño de un proceso de estudio y planificación, desde una perspectiva participativa e incidente.
    </p>

    <br>
    <h3>¿Qué objetivo tiene la Política de Gobernanza y Participación Ciudadana?</h3>
    <p>
      La primera Política Regional de Gobernanza y Participación Ciudadana del Gobierno Regional de Antofagasta permitirá diagnosticar las brechas y déficits de participación en la región, mejorar el diálogo entre el GORE y la ciudadanía, promover la incidencia ciudadana en las políticas públicas regionales; co-crear políticas públicas en conjunto con la ciudadanía y hacer seguimiento ciudadano a la inversión pública regional. 
    </p>

    <br>
    <h3>¿En qué está la Política de Gobernanza y Participación Ciudadana?</h3>
    <p>
      Actualmente, mediante un convenio entre el Gobierno Regional y la Universidad de Antofagasta, se ha iniciado el trabajo para la elaboración de este instrumento que tendrá un despliegue territorial en las 9 comunas de la región, en su fase diagnostica.
    </p>

    <div class="pages-gallery-container">
      <%= render Custom::BigCircleSliderComponent.new([
        '/images/pages/politicas/1.jfif',
      ]) %>
    </div>
  </div>
</div>
