<% provide :title do %>Proceso participativo<% end %>
<% content_for :header_addon do %>
<% end %>

<main class="proceso-main">
  <div class="jumbo light">
    <div class="row">
      <div class="small-12 column">
        <%= image_tag "help/help_icon_polls.png", alt: t("poll.icon_alt"), class: "align-sub" %>
        <h1 class="inline-block">Proceso Participativo</h1>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-9 column end">
        <p>Esto es una descripción sobre el proceso participativo.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <%= link_to chapters_proposals_path, :action => 'go' do %>
      <div class="card small-11 medium-3 column">
        <div class="card-section">
          <img
            class="process-card-image"
            src="https://www.meetingsnet.com/sites/meetingsnet.com/files/styles/article_featured_retina/public/collaborate_puzzle.jpg"\
          >
        </div>
        <div class="card-section text-center">
          <h4>Diagnósticos de acción por tema</h4>
        </div>
      </div>
    <% end %>
    <%= link_to proposals_path, :action => 'go' do %>
      <div class="card small-11 medium-3 column">
        <div class="card-section">
          <img 
            class="process-card-image"
            src="https://www.coe.int/documents/9219724/14989924/participation.jpg/756b1497-3d6b-476e-96d5-d8b41cd62985?t=1456913070000"
          >
        </div>
        <div class="card-section text-center">
          <h4>Sugerencias de acciones por tema</h4>
        </div>
      </div>
    <% end %>
    <%= link_to monitoring_quizzes_path, :action => 'go' do %>
      <div class="card small-11 medium-3 column">
        <div class="card-section">
          <img 
            class="process-card-image"
            src="https://noticias.uai.cl/assets/uploads/2020/12/gettyimages-1264842213-980x470-c-default.jpg"
          >
        </div>
        <div class="card-section text-center">
          <h4>Sugerencias de mecanismos de monitoreo</h4>
        </div>
      </div>
    <% end %>
  </div>
</main>
