<% provide :title do %>Proceso participativo<% end %>
<% content_for :header_addon do %>
<% end %>

<main class="proceso-main">
  <div class="jumbo light">
    <div class="row">
      <div class="small-12 column">
        <%= image_tag "help/help_icon_polls.png", alt: t("poll.icon_alt"), class: "align-middle" %>
        <h1 class="inline-block">Proceso Participativo</h1>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-9 column end">
        <p>Esto es una descripción sobre el proceso participativo.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card small-3 column">
      <div class="card-section">
        <img src="https://homepages.cae.wisc.edu/~ece533/images/boat.png">
      </div>
      <div class="card-section">
        <p>This is a simple card with an image inside a `.card-section`.</p>
      </div>
    </div>
    <div class="card small-3 column">
      <div class="card-section">
        <img src="https://homepages.cae.wisc.edu/~ece533/images/boat.png">
      </div>
      <div class="card-section">
        <p>This is a simple card with an image inside a `.card-section`.</p>
      </div>
    </div>
    <div class="card small-3 column">
      <div class="card-section">
        <img src="https://homepages.cae.wisc.edu/~ece533/images/boat.png">
      </div>
      <div class="card-section">
        <p>This is a simple card with an image inside a `.card-section`.</p>
      </div>
    </div>
  </div>
</main>
