<div class="jumbo custom-jumbo-section">
    <div class="row" style="text-align: center;">
        <div class="small-12 column custom-jumbo-section-title" style="max-width: 100%;">
            <h2>Empresas y Derechos Humanos</h2>
        </div>
    </div>
</div>
<div class="row margin-top">
  <div class="small-12 medium-12 column">
    <br>
    <h3>
        <span class="custom-page-min-title">El Estado es el primer y principal obligado a respetar, promover y proteger los derechos humanos.</span>
    </h3>
    <br>
    <p style="text-align: justify;">
        Sin embargo, su respeto y promoción es un deber y un derecho de todos quienes integramos la sociedad. Ello porque
        el respeto por los derechos humanos es un elemento fundamental de la convivencia social y democrática. Las
        empresas, como parte de nuestra sociedad, tienen una especial responsabilidad en este sentido, por cuanto se vinculan
        con una gran diversidad de personas y comunidades en diferentes etapas.
    </p>
    <p>
        <strong>Te invitamos a conocer más de los Derechos Humanos y Empresas en el video.</strong>
    </p>
  </div>

  <div class="small-12 medium-12 column">
    <div class="video-container">
        <iframe width="1024" height="600" src="https://www.youtube.com/embed/oqisN5n8f_g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="small-12 medium-12 column">
    <br>
    <h3>Organismos internacionales</h3>
    <br>
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <a href="https://pactoglobal.cl/" target="_blank" style="width: 25%; height: 100%;"><%= image_tag('pndhe-17.png') %></a>
        <a href="https://www.ilo.org/americas/programas-y-proyectos/WCMS_734404/lang--en/index.htm" target="blank" style="width: 25%; height: 100%;"><%= image_tag('Org_internacional_trabajo.jpg') %></a>
        <a href="http://mneguidelines.oecd.org/globalpartnerships/" target="_blank" style="width: 25%; height: 100%;"><%= image_tag('OCDE.jpg') %></a>
    </div>
  </div>
</div>
<br>
<br>
