<div class="jumbo light">
    <div class="row" style="text-align: center;">
    <div class="small-12 column">
        <h2>¿Qué es el PAN?</h2>
    </div>

    <div class="small-12 medium-12 column">
        <p>
            El Plan de Acción Nacional de Derechos Humanos y Empresas (PAN) es una política pública que establece la articulación de las prioridades
            y las acciones que se abordarán para implementar los <strong>Principios Rectores de Naciones Unidas sobre las Empresas y los Derechos Humanos.</strong>
        </p>
        <p>
            El PAN se elabora considerando las recomendaciones de organismos nacionales e internacionales de derechos humanos
            y un proceso participativo donde todas las personas puedan opinar. 
        </p>
    </div>
    </div>
</div>
<div class="row margin-top">
  <div class="small-12 medium-12 column">
    <div class="video-container">
        <iframe width="1024" height="600" frameborder="0" src="https://www.youtube.com/embed/HmZKgaHa3Fg"></iframe>
    </div>
  </div>
</div>
<br>
<br>
<div class="jumbo light">
    <div class="row" style="text-align: center;">
    <div class="small-12 column">
        <h2>Primera versión</h2>
    </div>
    <div class="small-12 medium-12 column">
        <p>(Antecedentes primera versión, resultados y enlace a reporte de cierre)</p>
    </div>
    </div>
</div>