<div class="jumbo custom-jumbo-section">
    <div class="row" style="text-align: center;">
        <div class="small-12 column custom-jumbo-section-title">
            <h2>¿Qué es el Plan Nacional de Derechos Humanos y Empresas?</h2>
        </div>
    </div>
</div>
<div class="row margin-top">
    <div class="small-12 medium-12 column">
        <br>
        <h3>
            <span class="custom-page-min-title">El Plan de Acción Nacional de Derechos Humanos y Empresas (PAN)</span>
        </h3>
        <br>
        <p style="text-align: justify;">
            Es una política pública que establece la articulación de las prioridades y las acciones que se abordarán para
            implementar los Principios Rectores de Naciones Unidas sobre las Empresas y los Derechos Humanos.
        </p>
        <p style="text-align: justify;">
            El PAN se elabora considerando las recomendaciones de organismos nacionales e internacionales de derechos
            humanos y un proceso participativo donde todas las personas puedan opinar.
        </p>
        <p>
            <strong>Te invitamos a conocer más de los Derechos Humanos y Empresas en el video.</strong>
        </p>
    </div>
    <div class="small-12 medium-12 column">
        <div class="video-container">
            <video width="1024" height="600" frameborder="0" src="https://formacionddhh.minjusticia.gob.cl/videos/C%C3%A1psula_empresas_y_DDHH_v22.mp4" controls></video>
        </div>
    </div>

    <div class="small-12 medium-12 column" style="text-transform: uppercase;">
        <br>
        <h3>Organismos de gobernanza:</h3>
        <br>
        <p><a href="https://ddhh.minjusticia.gob.cl/comite-interministerial-de-derechos-humanos-y-empresas" target="blank" style="font-weight: bold;">Comité Interministerial de Derechos Humanos y Empresas</a></p>
        <p><a href="https://ddhh.minjusticia.gob.cl/comite-360-de-derechos-humanos-y-empresas/" target="blank" style="font-weight: bold;">Comité 360 de Derechos Humanos y Empresas</a></p>
    </div>

</div>
<br>
<br>