<div class="jumbo light">
    <div class="row" style="text-align: center;">
    <div class="small-12 column">
        <h2>¿Qué es el PAN?</h2>
    </div>

    <div class="small-12 medium-12 column">
        <p>(Pequeño texto explicativo)</p>
    </div>
    </div>
</div>
<div class="row margin-top">
  <div class="small-12 medium-12 column">
    <div class="video-container">
        <iframe width="1024" height="600" frameborder="0" src="https://www.youtube.com/embed/HmZKgaHa3Fg"></iframe>
    </div>
  </div>
</div>
<br>
<br>
<div class="jumbo light">
    <div class="row" style="text-align: center;">
    <div class="small-12 column">
        <h2>Primera versión</h2>
    </div>
    <div class="small-12 medium-12 column">
        <p>(Antecedentes primera versión, resultados y enlace a reporte de cierre)</p>
    </div>
    </div>
</div>