<%= content_for :body_class, "custom-single-page" %>

<div class="row margin-top margin-bottom">
  <div class="small-12 column">
    <%= render Custom::CustomPageHeaderComponent.new('¿Qué es la Unidad de Gobernanza y Participación Ciudadana?', '/images/pages/ugpc/header.jpeg') %>  
  </div>
</div>

<div class="row margin-top margin-bottom">
  <div class="small-12 column">
    <p>
      Durante febrero de 2022, el Gobierno Regional ha aprobado y mandatado la creación de la Unidad de Gobernanza y Participación Ciudadana (UGPC), que tiene como objetivo promover y liderar el desarrollo de una cultura de gobernanza y participación ciudadana en la Región de Antofagasta y en el Gobierno Regional, mediante la generación de condiciones para la incidencia de la sociedad civil y la ciudadanía en la gestión pública regional. 
    </p>
    <p>
      Lo anterior en base a políticas, planes, programas y proyectos enmarcados en los procesos de cambio institucional, descentralización y profundización de la autonomía regional, además de coordinar el diseño, implementación, difusión, gestión y evaluación de la Política Regional de Participación Ciudadana, su reglamento e instrumentos asociados.
    </p>

    <br>
    <h3>¿Cuál es el Objetivo de la Unidad de Gobernanza y Participación Ciudadana?</h3>
    <p>
      Promover y liderar el desarrollo de una cultura de gobernanza y participación ciudadana en la Región de Antofagasta y en el Gobierno Regional, mediante la generación de condiciones para la incidencia de la sociedad civil y la ciudadanía en la gestión pública regional. Lo anterior en base a políticas, planes, programas y proyectos enmarcados en los procesos de cambio constitucional-institucional, descentralización y profundización de la autonomía regional.
    </p>
    
    <p>
      Funciones de la unidad:
      <ol>
        <li>Coordinar, apoyar y asesorar las acciones que implemente o promueva el Gobierno Regional en materia de Gobernanza y Participación Ciudadana en la región, en general, o a través de sus divisiones y/o unidades.</li>
        <li>Coordinar el diseño, creación, implementación, difusión, gestión y evaluación de la Política Regional de Participación Ciudadana, su reglamento e instrumentos asociados.</li>
        <li>Formular, implementar y realizar seguimiento de los mecanismos de gobernanza y participación ciudadana al interior del Gobierno Regional.</li>
        <li>Promover el desarrollo e implementar planes, programas y proyectos de formación en democracia, derechos y ciudadanía en y para la Región de Antofagasta.</li>
        <li>Promover el desarrollo e implementar planes, programas y proyectos de formación y/o fortalecimiento de liderazgos y dirigencias sociales en la Región de Antofagasta.</li>
        <li>Proponer y/o disponer de las medidas necesarias para el desarrollo de una cultura organizacional sensible a la articulación y participación interna, así como a los procesos de gobernanza y participación ciudadana al interior del Gobierno Regional y servicios regionales dependientes del Gobierno Regional. Lo anterior a través de procesos de formación, planificación, articulación interna, normas administrativas y otras medidas de gestión o asociadas.</li>
        <li>Establecer vínculos de colaboración, coordinación y asesoría con los municipios de la región, en materias de gobernanza y participación ciudadana.</li>
        <li>Dar soporte técnico, administrativo, presupuestario y ejercer la secretaría ejecutiva del Consejo de la Sociedad Civil Regional (COSOC REGIONAL).</li>
      </ol>
    </p>

    <br>
    <h3>¿En qué estamos?</h3>
    <p>
      Actualmente la UGPC se encuentra coordinando y liderando las siguientes iniciativas:
      <ul>
        <li><strong>Estudio de la Primera Política de Gobernanza y Participación Ciudadana de la Región de Antofagasta</strong>, la que está siendo ejecutada por la Universidad de Antofagasta y que tendrá un despliegue territorial en las 9 comunas de la región. (Mas información en la pestaña de la Política de Gobernanza y Participación Ciudadana).</li>
        <li><strong>Plan Unidos por Bonilla:</strong> Esta iniciativa tiene como objetivo Construir una visión integral del territorio a través de proyectos sociales de infraestructura y del fortalecimiento de las capacidades de la comunidad del sector Oscar Bonilla (Mas información en la pestaña del Plan Unidos por bonilla).</li>
        <li><strong>Programa de Formación en Ciudadanía y Democracia:</strong> La creación del Programa de Formación y en Ciudadanía y Democracia tiene como propósito: Promover una ciudadanía activa, involucrada con los procesos de cambios sociales, culturales e institucionales, tolerante con la diversidad, con los modos de convivencia y respetuosa de la dignidad humana (Más información en la pestaña de Programa de Formación)</li>
        <li><strong>Secretaria Ejecutiva del COSOC Regional.</strong> La unidad dentro de sus funciones tiene ejercer la secretaría ejecutiva del COSOC Regional y Asesorar técnicamente el funcionamiento del COSOC en materias de gestión regional. (Más información en la pestaña de COSOC Regional).</li>
        <li><strong>GORE EN TU SALA.</strong> Es una iniciativa que busca informar y educar sobre la gestión pública del Gobierno Regional de Antofagasta, liderado por el gobernador Ricardo Díaz Cortés, democráticamente electo en 2021.  “Gore en Tu Sala” es una instancia que favorece el diálogo, intercambio y pedagogía en jóvenes y adolescentes, sobre el rol que cumple el Gobierno Regional, el Plan de gobierno 2021-2024 y las diversas acciones que realiza el GORE en pos del desarrollo de la región y el bienestar de la ciudadanía. (Más información en la pestaña de GORE en tu sala).</li>
        <li><strong>Piloto Presupuestos Participativos</strong>: Durante el 2023 se iniciarán iniciativas para que la ciudadanía regional participe efectivamente en la definición de una parte del presupuesto regional, de acuerdo a sus necesidades colectivas, de manera descentralizada y considerando procesos de diálogo y deliberación territorial. Estas medidas se trabajarán de manera estrecha entre el Gobierno Regional, CORE y los municipios de la región, con participación directa de la ciudadanía y las organizaciones funcionales, territoriales y de la sociedad civil.</li>
      </ul>
    </p>
  </div>
</div>
