<%= content_for :body_class, "custom-single-page" %>

<div class="row margin-top margin-bottom">
  <div class="small-12 column">
    <%= render Custom::CustomPageHeaderComponent.new('¿Cuál es el Objetivo de la Unidad de Gobernanza y Participación Ciudadana?', '/images/pages/ugpc/header.jpeg') %>  
  </div>
</div>

<div class="row margin-top margin-bottom">
  <div class="small-12 column">
    <p>
      Durante febrero de 2022, el Gobierno Regional ha aprobado y mandatado la creación de la Unidad de Gobernanza y Participación Ciudadana (UGPC), que tiene como objetivo promover y liderar el desarrollo de una cultura de gobernanza y participación ciudadana en la Región de Antofagasta y en el Gobierno Regional, mediante la generación de condiciones para la incidencia de la sociedad civil y la ciudadanía en la gestión pública regional.
    </p>
    <p>
      Promover y liderar el desarrollo de una cultura de gobernanza y participación ciudadana en la Región de Antofagasta y en el Gobierno Regional, mediante la generación de condiciones para la incidencia de la sociedad civil y la ciudadanía en la gestión pública regional. Lo anterior en base a políticas, planes, programas y proyectos enmarcados en los procesos de cambio constitucional-institucional, descentralización y profundización de la autonomía regional.
    </p>
    
    <p>
      Funciones de la unidad:
      <div>
        <%= render 'ugpc_diagram_desktop' %>
        <%= render 'ugpc_diagram_mobile' %>
      </div>
    </p>

    <br>
    <h3>¿En qué estamos?</h3>
    <p>
      Actualmente la UGPC se encuentra coordinando y liderando las siguientes iniciativas:
      <ul>
        <li><strong>Plan Unidos por Bonilla:</strong> Esta iniciativa tiene como objetivo Construir una visión integral del territorio a través de proyectos sociales de infraestructura y del fortalecimiento de las capacidades de la comunidad del sector Oscar Bonilla (Mas información en la pestaña del Plan Unidos por bonilla)</li>
        <li><strong>Programa de Formación en Ciudadanía y Democracia:</strong> La creación del Programa de Formación y en Ciudadanía y Democracia tiene como propósito: Promover una ciudadanía activa, involucrada con los procesos de cambios sociales, culturales e institucionales, tolerante con la diversidad, con los modos de convivencia y respetuosa de la dignidad humana. (Etapa formulación)</li>
        <li><strong>Secretaria ejecutiva del COSOC Regional:</strong> La unidad dentro de sus funciones tiene ejercer la secretaría ejecutiva del COSOC Regional y Asesorar técnicamente el funcionamiento del COSOC en materias de gestión regional. (Más información en la pestaña de COSOC Regional)</li>
        <li><strong>GORE EN TU SALA:</strong> Desde la Unidad de Gobernanza y Participación Ciudadana del Gobierno Regional de Antofagasta, se ha levantado la iniciativa “GORE en tu Sala”, orientada a presentar a través de charlas realizadas por el Gobernador Regional, Sr. Ricardo Díaz Cortés, esta nueva institucionalidad y sus funciones y, a su vez, conocer inquietudes y referencias que surjan desde la comunidad educativa y sus estudiantes.</li>
        <li><strong>Piloto Programa Presupuestos Participativos:</strong> El programa busca generar iniciativas para que la ciudadanía regional participe efectivamente en la definición de una parte del presupuesto regional, de acuerdo a sus necesidades colectivas, de manera descentralizada y considerando procesos de diálogo y deliberación territorial. Estas medidas se trabajarán de manera estrecha entre el Gobierno Regional, CORE y los municipios de la región, con participación directa de la ciudadanía y las organizaciones funcionales, territoriales y de la sociedad civil. (Etapa de formulación)</li>
        <li><strong>Comité técnico PAC:</strong> Esta instancia tiene por objetivo asesorar, analizar, colaborar, y promover respecto de los procesos de participación ciudadana en líneas de planes, programas y proyectos dentro Gobierno Regional. Hemos colaborado con la Unidad de Jurídica en el proceso de validación de la Política de Integridad y comité técnico del Plan de Movilidad Sostenible, Calama, junto a la División de Infraestructura y Transporte.</li>
        <li><strong>Plan de Movilidad Urbana Sostenible:</strong> Es un facilitador para la creación de una cultura de movilidad sostenible, baja en carbono y centrada en las personas. Se basa en un consenso ciudadano, público y privado, que busca robustecer la planificación de movilidad y transporte existente en la ciudad, a través de la incorporación de criterios de accesibilidad, multimodalidad, seguridad y reducción de emisiones, entre otros.  Hoy nos encontramos en la 2 de 5 etapas de Participación Ciudadana.</li>
      </ul>
    </p>
  </div>
</div>
