<%= render "shared/section_header",
    color: "#fe6b01",
    section_image: "/images/h-encuestas.svg",
    title: 'Agregar Encuesta'
%>
<div class="row">

<%= render 'form', encuestum: @encuestum %>
</div>

<div class="general-footer-container">
    <%= render 'shared/waves_footer', color1: '#e5965d', color2: '#fe6b01' do %>
    <% end %>
</div>
