<div class="row">
  <div class="small-12 column">
    <%= link_list(
      (
        [
          t("pages.help.menu.proposals"),
          "#proposals",
          class: "button hollow expanded"
        ] if feature?(:proposals)
      ),
      (
        [
          t("pages.help.menu.polls"),
          "#polls",
          class: "button hollow expanded"
        ] if feature?(:polls)
      ),
      class: "menu-pages", "data-magellan": true
    ) %>
  </div>
</div>
