<% unless can?(:answer, @poll) %>
  <% if current_user.nil? %>
    <p class="text-center"><strong>Debes <%= link_to 'iniciar sesión o registrarte', new_user_session_path %> para participar</strong></p>
  <% elsif current_user.unverified? %>
    <div class="callout warning">
      <%= sanitize(t("polls.show.cant_answer_verify",
            verify_link: link_to(t("polls.show.verify_link"), verification_path))) %>
    </div>
  <% elsif @poll.expired? %>
    <div class="callout alert">
      <%= t("polls.show.cant_answer_expired") %>
    </div>
  <% else %>
    <div class="callout warning">
      No puedes participar. <%= @poll.cant_participate_reason(current_user) %>
    </div>
  <% end %>
<% end %>
