<% provide :title do %>Resultados<% end %>
<%= render "shared/section_header",
    color: "#c93358",
    section_image: "/images/h-resultados.svg",
    title: 'Resultados',
    show_buildings: true
%>
<div class="row pfc-page">
  <div class="small-12 column">
    <h2>Resultados Participación Ciudadana</h2>
    <p>
      En esta sección te presentamos un resumen de los resultados de las consultas ciudadanas previas que se han realizado en la Municipalidad de Las Condes. Si quieres ver el resultado de las encuestas ciudadanas, haz click <a href="/encuestas">acá</a>.
    </p>
  </div>

  <div class="small-12 column">
    <% if @polls.any? %>
      <div class="custom-cards-container">
        <div class="custom-cards">
          <% @polls.each do |poll| %>
            <%= render "poll", poll: poll %>
          <% end %>
          <%= paginate @polls %>
        </div>
      </div>
    <% else %>
      <div class="callout primary margin-top">
        No hay resultados disponibles.
      </div>
    <% end %>
  </div>
</div>

<div class="general-footer-container">
    <%= render 'shared/waves_footer', color1: '#c93358', color2: '#d2647d' do %>
    <% end %>
</div>
