<div class="big-card-component">
  <div>
    <% if @supertitle %>
      <p class="supertitle"><%= @supertitle %></p>
    <% end %>
    <h1><%= @title %></h1>
    <p><%= @description %></p>
  </div>
  <%= image_tag(@image) %>
</div>
