<div class="multiple-select-container">
  <%=
    @form.select :commune_ids,
    @communes.map { |c| [c.name, c.id] },
    { label: 'Selecciona las comunas que participarán' },
    { required: @is_required, multiple: true, class: 'multiple-select' }
  %>
</div>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('.multiple-select').select2({
      width: '100%',
    });
  });
<% end %>
