<div class="stacking-cards-component">
  <% @elements.each do |element| %>
    <%= render Custom::BigCardComponent.new(
      element[:id],
      element[:title],
      element[:summary],
      element[:description],
      element[:image],
      element[:supertitle],
      element[:path],
      false,
      true,
    ) %>
  <% end %>
</div>
