<% if investments.any? %>
  <section id="investments_list" class="investments-list">
    <% investments.each do |investment| %>
      <%= render Budgets::InvestmentComponent.new(investment) %>
    <% end %>
  </section>
  <%= paginate investments %>
<% else %>
  <div class="callout primary clear">
    No hay proyectos no seleccionados.
  </div>
<% end %>
