<% if investments.any? %>
  <section id="investments_list" class="investments-list">
    <div class="small-12 column">
      <div class="cards-container-component">
        <% investments.each do |investment| %>
          <%= render Budgets::InvestmentComponent.new(investment) %>
        <% end %>
      </div>
    </div>
  </section>
  <%= paginate investments %>
<% else %>
  <div class="callout primary clear">
    No hay proyectos no seleccionados.
  </div>
<% end %>
