<h2>Debates pendientes de revisión</h2>

<%=
  render Moderation::Shared::CustomIndexComponent.new(
    @records,
    'debates',
    method(:publish_debate_path),
    method(:edit_debate_path),
    'author'
  )
%>
