.single-heading {
  margin-bottom: $line-height * 2;
  padding-bottom: $line-height;
  position: relative;

  h3 {
    font-size: rem-calc(48);
    font-weight: 700;
  }

  p {
    font-size: rem-calc(48);
  }
}
