<main class="debate-new">
  <%= back_link_to debates_path, t("debates.index.section_header.title") %>

  <h2 class="margin-top">Hola <span style="color: #243278;"><%= current_user.first_name %></span>, sube aquí tu debate.</h2>

  <%= render Debates::FormComponent.new(debate) %>
</main>
