<h2>Propuestas Ciudadanas pendientes de revisión</h2>

<%=
  render Moderation::Shared::CustomIndexComponent.new(
    @records,
    'proposals',
    method(:publish_proposal_path),
    method(:edit_proposal_path),
    'author'
  )
%>
