<h2>Proyectos pendientes de revisión</h2>

<%=
  render Moderation::Shared::CustomIndexComponent.new(
    @records,
    'proyectos',
    method(:publish_budget_investment_path),
    method(:edit_budget_investment_path),
    'author',
    ['budget_id', 'id'],
  )
%>
