<% provide :title do %><%= t("devise_views.sessions.new.title") %><% end %>

<div style="display: flex; flex-direction: column; align-items: center; gap: 1rem;">
  <h2><%= t("devise_views.sessions.new.title") %></h2>

  <a class="btn-cu btn-m btn-color-estandar" href="<%= new_clave_unica_path %>" title="Iniciar sesión en ClaveÚnica">
    <span class="cl-claveunica"></span>
    <span class="texto">Iniciar sesión</span>
  </a>

  <%= render "devise/shared/links" %>
</div>

