<section id="feed_<%= kind %>">
  <div class="row">
    <header>
      <h2 class="title custom-feed-title"><%= t("welcome.feed.most_active.#{kind}") %></h2>
    </header>

    <% if feed.items.any? %>
      <div>
        <% feed.items.each do |item| %>
          <%= render item_component_class.new(item) %>
        <% end %>
        <%= link_to t("welcome.feed.see_all.#{kind}"), kind, class: 'button' %>
    <% end %>
  </div>
</section>
