<td style="padding-bottom: 20px; padding-left: 10px;">
  <h1 style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;">
    <%= @direct_message.title %>
  </h1>

  <div style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    <%= simple_format sanitize_and_auto_link(@direct_message.body), {}, sanitize: false %>
  </div>
</td>
