<td style="padding-bottom: 20px; padding-left: 10px;">
  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    ¡Hola <%= @author.first_name %> <%= @author.last_name %>!:<br><br>
    Tu debate "<%= @debate.title %>" no ha sido aceptado.
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    Agradecemos tus ganas de contribuir al desarrollo de la comuna. Sin embargo, en esta oportunidad, 
    tu debate no podrá ser publicado en la <strong>Plataforma de Participa Las Condes</strong> debido a que no se encuentra 
    alineado con la política de convivencia, la cual se encuentra documentada en nuestra <a href="https://www.participalascondes.cl/condiciones" target="_blank">Política de Privacidad y Condiciones de Uso</a>.
  </p>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    Cualquier inquietud nos puedes contactar a <a href="mailto:participacion@lascondes.cl">participacion@lascondes.cl</a>.
  </p>
</td>
