<td style="padding-bottom: 20px; padding-left: 10px;">
    <h1 style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;">
        Hemos ocultado un comentario
    </h1>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    Lo sentimos. Hemos ocultado uno de tus comentarios en nuestro portal, por no ser acorde a nuestra Política de Convivencia. Esperamos que sigas participando, conforme a los principios establecidos en esa política, a fin de resguardar el respeto y la promoción de los derechos de todos y todas.
  </p>
</td>
