<td style="padding-bottom: 20px; padding-left: 10px;">
    <h1 style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;">
        Hemos eliminado tu participación
    </h1>

  <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif;font-size: 14px;font-weight: normal;line-height: 24px;">
    Lo sentimos. Hemos eliminado tu participación porque no cumple con las normas de la plataforma.
  </p>
</td>