<div class="supports text-center">
  <div class="in-favor">
    <% if voted_for?(@featured_proposals_votes, proposal) %>
      <div class="supported">
        <%= t("proposals.proposal.already_supported") %>
      </div>
    <% else %>
      <%= link_to vote_proposal_path(proposal, value: "yes"),
          class: "button button-support small expanded",
          title: t("proposals.proposal.support_title"), method: "post", remote: true do %>
        <%= t("proposals.proposal.support") %>
      <% end %>
    <% end %>
  </div>

  <% if voted_for?(@featured_proposals_votes, proposal) %>
    <% if setting["twitter_handle"] %>
      <div class="share-supported">
        <%= render "shared/social_share",
          title: proposal.title,
          url: proposal_url(proposal),
          description: proposal.summary,
          mobile: proposal.title
        %>
      </div>
    <% end %>
  <% end %>
</div>
