<div class="sidebar-divider"></div>
<h2 class="sidebar-title">Unidades vecinales</h2>
<br>
<div id="leaflet"></div>
<div class="sidebar-divider"></div>
<h2 class="sidebar-title">Palabras claves</h2>
<canvas id="cloud-tag"></canvas>

<script>
$(document).ready(function() {
})

var map = new L.Map('leaflet')

$.getJSON('/UV_KML.geojson', function(lasCondesSectors) {
  let osm = new L.TileLayer.BoundaryCanvas("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    boundary: lasCondesSectors,
  });
  map.addLayer(osm)

  // Variables for map
  let defaultStyle = {
      color: 'gray',
      fillOpacity: 0,
      weight: 2,
  }

  // Actions
  function colorlayer(feature, layer) {
    layer.bindPopup('<h5>'+feature.properties.name.replace('-', '')+'</h5>', {closeButton: false});
    layer.on('mouseover', function() { layer.openPopup(); });
    layer.on('mouseout', function() { layer.closePopup(); });
  }

  // Bounds
  let gjLayer = L.geoJSON(lasCondesSectors);
  map.fitBounds(gjLayer.getBounds());

  // Load features
  L.geoJSON(lasCondesSectors, {
      onEachFeature: colorlayer
  }).addTo(map)

  // Map config
  map.keyboard.disable();
})


</script>
<%= javascript_tag do %>
var tags = <%= raw(Rails::Html::FullSanitizer.new.sanitize(Proposal.all.pluck(:description).join(' ')).split(' ').map{|w| w.downcase }.filter{|w| w.length > 4 and not ['donde','porque','porqué','cuando','están','desde','dónde','fueron','fuesen','sobre','altas','altos','bajos','bajas'].include?(w)}.tally.sort_by(&:last).reverse[0..4].reverse.map.with_index{|a, i| [a[0], i + 1]}) %>
WordCloud(document.getElementById('cloud-tag'), { list: tags, weightFactor: 10, backgroundColor: 'transparent' } );

<% end %>