<span class="total-supports text-center margin-top">
  <%= t("proposals.proposal.supports", count: proposal.total_votes) %><br>
  <span>
    <abbr title="<%= t("proposals.proposal.reason_for_supports_necessary") %>">
      <%= t("proposals.proposal.supports_necessary",
          number: number_with_delimiter(Proposal.votes_needed_for_success)) %>
    </abbr>
  </span>
</span>
