<section class="row custom-section">
  <div class="column small-12">
    <header>
      <h3><%= @title %></h3>
      <small><%= link_to 'Ver todas', @path %></small>
    </header>

    <%= content %>
  </div>
</section>
