<div class="jumbo custom-jumbo-section">
    <div class="row" style="text-align: center;">
        <div class="small-12 column custom-jumbo-section-title">
            <h2>¡Muchas gracias por participar en la Consulta Digital!</h2>
        </div>
    </div>
</div>
<div class="row margin-top">
    <p class="lead">Por el 2°Plan de Acción Nacional de Derechos Humanos y Empresa</p>
    <br>
    <div>
    <h4>Participa también en los siguientes formularios:</h4>
    <ul>
        <li><a href="https://forms.gle/eev43zCJcmsCjYZC6" target="_blank">Proceso participativo para representantes de la sociedad civil</a></li>
        <li><a href="https://forms.gle/491xfAjC1FbUWDz1A" target="_blank">Proceso participativo para representantes de pueblos indígenas y tribales</a></li>
    </ul>
    </div>
    <br>
    <p><strong>Comparte y comenta en redes sociales con los Hashtag:</strong></p>
    <div style="display: flex; flex-direction: row">
        <div class="button">#ConsultaDigital</div><div class="button" style="margin-left: 10px;">#2°PlanDDHHyEmpresas</div>
    </div>
    <%= render "shared/social_share",
        title: 'Participa con nosotros en:',
        url: request.base_url,
        mobile: 'Participa con nosotros en:' %>
</div>
<br>
<br>
<br>
