<div class="jumbo custom-jumbo-section">
    <div class="row" style="text-align: center;">
        <div class="small-12 column custom-jumbo-section-title" style="max-width: 100%; flex-direction: column;">
            <h2>Consulta digital</h2>
            <p class="lead">2° Plan de Acción Nacional de Derechos Humanos y Empresas</p>
        </div>
    </div>
</div>
<br>
<% if true == false %>
<div class="row margin-top custom-form-layout">
    <div class="small-12 medium-9 large-9">
        <%= render 'form', form: @form %>
    </div>
    <div class="small-12 medium-3 large-3 pl-90">
        <div class="desktop-only" style="border-top: 7px solid #88c8a6; width: 35px; margin-bottom: 15px;"></div>
        <h5>Material de apoyo</h5>
        <ul>
            <a href="/docs/plan_de_accion.pdf" target="_blank"><li><small>Plan de acción nacional de ddhh y empresas</small></li></a>
            <a href="/docs/reporte_finalización_2017-2020.pdf" target="_blank"><li><small>Reporte de finalización plan 2017- 2020</small></li></a>
            <a href="/docs/reporte_2017-2019.pdf" target="_blank"><li><small>Reporte 2017 - 2019</small></li></a>
            <a href="/docs/compilado_de_informes.pdf" target="_blank"><li><small>Informe de Evaluación Primer Plan DDHH y Empresas</small></li></a>
            <a href="/docs/introduccion_principios_rectores.pdf" target="_blank"><li><small>Introducción a los Principios Rectores sobre las Empresas y los Derechos Humanos</small></li></a>
        </ul>
    </div>
</div>
<% end %>
