<div class="jumbo light">
    <div class="row">
    <div class="small-12 column">
        <span class="uppercase">Prueba</span>
        <h2>Título del cuestionario</h2>
    </div>

    <div class="small-12 medium-9 column end">
        <p>Descripción, instrucciones, etc...</p>
    </div>
    </div>
</div>
<div class="row margin-top">
  
<%= render 'form', form: @form %>

</div>