<div>
  <div class="row stats-numbers">
    <h3>Presupuestos Participativos</h3>

    <div class="small-12 medium-12 column">
      <p>Presupuestos participativos respondidos<br> <span class="number"><%= @stats[:polls][:answered] %></span></p>
    </div>
  </div>

  <hr>
  
  <div class="row stats-numbers">
    <h3>Consultas</h3>

    <div class="small-12 medium-12 column">
      <p>Consultas respondidas<br> <span class="number">0</span></p>
    </div>
  </div>
</div>
