<div class="row">
  <div class="small-12 column">
    <div class="info-card">
      <div class="info-card-header" style="background-color: #fe6b01;">
        <h1 style="font-size: 2em;">¡Queremos conocerte mejor!</h1>
      </div>
      <div class="info-card-body" style="padding: 0;">
        <div data-tf-widget="vpGHZTNx" data-tf-iframe-props="title=Encuesta Caracterización" data-tf-medium="snippet" data-tf-hidden="rut=<%= current_user.document_number.insert(-2, '-') %>" style="width:100%;height:600px;"></div><script src="//embed.typeform.com/next/embed.js"></script>
      </div>
    </div>
  </div>
</div>