<div class="small-12 medium-12 column" style="overflow-x: auto;">
  <h4 class="text-center mb-2">Recuerda que las modalidades de participación dependen de tu Tarjeta Vecino:</h4>
  <table style="text-align: center;">
    <thead>
      <tr>
        <th></th>
        <th colspan="2" class="text-center">Procesos <strong>CON</strong> Tarjeta Vecino</th>
        <th colspan="1" class="text-center" style="border-left: 1px solid #f0f0f0;">Procesos <strong>SIN</strong><br> Tarjeta Vecino</th>
      </tr>
      <tr>
        <th></th>
        <th class="text-center">Residente</th>
        <th class="text-center">Población Flotante</th>
        <th style="border-left: 1px solid #f0f0f0;"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Consultas Ciudadanas</td>
        <td><i class="gg-check-o margin-auto"></i></td>
        <td><i class="gg-danger margin-auto"></i></td>
        <td style="border-left: 1px solid #f0f0f0;"><i class="gg-danger margin-auto" ></i></td>
      </tr>
      <tr>
        <td>Encuestas</td>
        <td><i class="gg-check-o margin-auto"></i></td>
        <td><i class="gg-danger margin-auto"></i></td>
        <td style="border-left: 1px solid #f0f0f0;"><i class="gg-danger margin-auto"></i></td>
      </tr>
      <tr>
        <td>Propuestas Ciudadanas</td>
        <td><i class="gg-check-o margin-auto"></i></td>
        <td><i class="gg-danger margin-auto"></i></td>
        <td style="border-left: 1px solid #f0f0f0;"><i class="gg-close-o margin-auto"></i></td>
      </tr>
      <tr>
        <td>Iniciativas Municipales</td>
        <td><i class="gg-check-o margin-auto"></i></td>
        <td><i class="gg-danger margin-auto"></i></td>
        <td style="border-left: 1px solid #f0f0f0;"><i class="gg-danger margin-auto"></i></td>
      </tr>
      <tr>
        <td>Debates</td>
        <td><i class="gg-check-o margin-auto"></i></td>
        <td><i class="gg-danger margin-auto"></i></td>
        <td style="border-left: 1px solid #f0f0f0;"><i class="gg-danger margin-auto"></i></td>
      </tr>
      <tr>
        <td>Presupuestos Participativos</td>
        <td><i class="gg-check-o margin-auto"></i></td>
        <td><i class="gg-danger margin-auto"></i></td>
        <td style="border-left: 1px solid #f0f0f0;"><i class="gg-close-o margin-auto"></i></td>
      </tr>
    </tbody>
  </table>
  <div class="flex" style="justify-content: flex-end;">
    <div>
      <div class="flex">
        <i class="gg-check-o"></i>&nbsp;Si
      </div>
      <div class="flex">
        <i class="gg-danger"></i>&nbsp;Sujeto a bases del proceso
      </div>
      <div class="flex">
        <i class="gg-close-o"></i>&nbsp;No
      </div>
    </div>
  </div>
</div>
