<div class="row account">
  <div class="small-12 column">
    <h1>Mi cuenta</h1>
    <ul class="tabs" data-tabs id="account-tabs">
      <li class="tabs-title is-active"><a href="#data" aria-selected="true">Mis datos</a></li>
    </ul>

    <div class="tabs-content" data-tabs-content="account-tabs">
      <div class="tabs-panel is-active" id="data">
        <%= render 'data' %>
      </div>
    </div>
  </div>
</div>
