// Overrides and adds customized foundation settings in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//


$brand:             #6aaac3;

$link:              #2e3d44;
$link-hover:        darken($link, 20%);

$highlight:         #eeeeee;

$budget:            #97cee4;

$info-bg:           #FFF; 