// Overrides and adds customized foundation settings in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//


$brand:             #f76804;

$link:              #D45A04;
$link-hover:        darken($link, 20%);

$highlight:         #eeeeee;

$budget:            #FDB17C;

$info-bg:           #FFF; 