// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

.wrapper {
    .jumbo.highlight::before {
        left: calc(37.5rem - 50vw);
        right: calc(37.5rem - 50vw);
        bottom: 0;
        content: "";
        display: block;
        pointer-events: none;
        position: absolute;
        top: 0;
        background: inherit;
        z-index: -1;
    }
}

a { 
    outline: none !important;
}

.turbolinks-progress-bar {
    background-color: white !important;
}

.position-static {
    height: auto !important;
    position: static !important;
}

.margin-left {
    margin-left: auto !important;
}

.desktop-view {
    @include breakpoint(small down) {
        display: none;
    }
}

.mobile-view {
    .mobile-menu {
        a {
            color: #fff;
        }

        hr {
            display: none;
        }
    }

    @include breakpoint(medium up) {
        display: none !important;
    }
}

.show-for-small-only {
    hr {
        width: 100vw;
        border-bottom: 1px solid #ffffff80;
    }

    li {
        padding-left: 1rem !important;
    }

    .subnavigation {
        a {
            line-height: 2.5rem !important;
        }
    }
}

.center-element {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-group-field {
    padding-left: 15px;
    font-size: 0.8em !important;
    padding: 0 15px !important;
    border: 0;
    height: 52px;
    margin-bottom: 0 !important;
    height: 40px !important;

    &:focus {
        border: 0;
    }
}

.input-group {
    margin-bottom: 0 !important;
}

.mobile-view .input-group  {
    margin-bottom: 30px !important;
}

.input-group-button {
    padding-bottom: 0 !important;
}

aside {
    .search-form-header {
        width: auto !important;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;

        .input-group {
            input {
                font-size: 1em;
            }
        }
    }
}

.subnavigation {
    a.is-active {
        border-bottom: none !important;
    }
}

// 2. Header
.admin {
    .top-bar {
        .mobile-menu {
            a {
                color: #000 !important;
            }
        }
    }
}

.main-header {
    height: 120px;
    z-index: 10;
    position: sticky;
    top: 0;
    width: 100%;

    @include breakpoint(small down) {
      height: auto;
    }

    .row {
        @include breakpoint(medium up) {
            max-width: none !important;
            margin-right: 0 !important;
            margin-left: 0 !important;
            padding: 0 30px;
        }
    }

    .search-form-header {
        @include breakpoint(medium up) {
            margin-left: auto;
        }
        width: 160px;
    }

    .top-bar {
        background: none !important;
        border-bottom: none !important;

        #navigation_bar {
            background: none;

            a {
                color: #fff;
            }
        }

        @include breakpoint(medium up) {
            display: flex;
            height: 120px;
            justify-content: flex-start !important;
        }
    }

    .perfil-dropdown-content {
        border-radius: 5px 0px 5px 5px;
        width: 100%;
        right: 0;
        display: none;
        position: absolute;
        background-color: #fff !important;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border: 0;
      
        & a {
          color: #252525 !important;
        }

        hr {
            margin: 5px 0;
        }
    }

    .btn-registrar {
        background: #fff;
    }

    @media (min-width: 640px) {

        .btn-registrar:hover {
            background-color: lighten(#323232, 10%) !important;
        }
    }

    @media (max-width: 640px) {
        .btn-registrar {
            background: inherit;
        }
    }

    .btn-perfil {
        background: #323232 !important;
        color: #fff !important;
        padding: 8px 30px 8px 8px !important;
        transition-duration: 0.2s;
        line-height: 1.6;
      
        &:hover {
            background: #323232 !important;
            text-decoration: none;
        }
      
        img {
            width: 23px;
            margin-right: 3px;
        }
      
        &::after {
            display: block;
            width: 0;
            height: 0;
            border: inset 6px;
            content: '';
            border-bottom-width: 0;
            border-top-style: solid;
            border-color: #FFF transparent transparent;
            right: 10px;
            left: auto;
            margin-top: -3px;
            position: absolute;
            top: 50%;
            box-sizing: inherit;
        }
    }
      
    .btn-negrita {
        font-weight: bold;
    }

    .perfil-dropdown {
        position: relative;
        display: inline-block;
      
        &:hover, &:active, &:visited {
          .perfil-dropdown-content {
            display: block;
          }
      
          .btn-perfil {
            background-color: lighten(#323232, 20%);
          }
        }
    }
}

.footer {
    footer {
        color: rgb(187, 187, 187);

        h4 {
            color: #fff;
        }

        a {
            color: #fff;

            &:hover {
                color: $brand;
            }
        }
    }

    background: transparent !important;
    padding-top: $line-height * 2;
    min-height: auto !important;

    ul {
        margin-left: 0 !important;
    }

    .subfooter {
        border-top: none;
        font-size: $small-font-size;
        padding-top: $line-height / 1;
    }

    i {
        margin-right: 5px;
    }
}

.custom-form-root {
    label {
        font-weight: normal;
    }
}

#sortable {
    height: auto !important;

    li {
        cursor: move;
        margin-bottom: 10px;
    }
}

.custom-ordered-list {
    .other {
        list-style: none;
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    display: flex;
    text-align:center;
}

.video-container iframe {
    width: 1024px;
    height: 600px;
    max-width: 90vw;
    max-height: 50vw;
    position: absolute; /* positions out of the flow, but according to the nearest parent */
    top: 0; right: 0; /* confuse it i guess */
    bottom: 0; left: 0;
    margin: auto; /* make em equal */
}

.ui-widget-content {
    background: #fff !important;
}

.ui-accordion-header-active {
    background: #004a83 !important;
    border: 1px solid #003258 !important;
}

.accordion-content-custom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 700px) {
        display: flex;
        flex-direction: column;
    }

    & > *:nth-child(2) {
        margin: 0 10px;
    }
}

.custom-feeds-index {
  background: #fff;
  padding-bottom: 20px;

  .title {
    border-bottom: none !important;
  }

  h2 {
    color: #333 !important;
    border-top: 4px solid #ff7267 !important;
  }

  a {
    color: #333 !important;
  }
}

.footer::before {
    background: #252525 !important;
    border-top: 6px solid $brand;
}

header > *::before  {
    background-color: transparent !important;
}

header::after {
    border: none !important;
}

.button.hollow {
    background-color: $brand !important;
}

.admin .top-links {
    background: transparent !important;
}

.admin .top-links::before {
    border-bottom: none !important;
}

.custom-social {
    ul {
      margin: 0;
    }
  
    li {
      display: inline-block;
    }
  
    a {
      font-size: rem-calc(24);
      margin: 0 $line-height / 2;
      text-decoration: none;
  
      &:hover {
        @include brand-text;
      }
    }
}

#alert, #notice {
    z-index: 9000;
}

.custom-menu {
    li {
        a {
            color: black !important;
        }
    }
}

.top-bar-title {
    @media (min-width: 765px) {
        flex-grow: 0 !important;
    }
}

.custom-parent-menu {
    a {
        font-size: 1em !important;
    }

    .submenu {
        a {
            font-size: 0.8em !important;
        }
    }
}


// Calendar

.simple-calendar {
    .calendar-heading {
        display: flex;
        justify-content: space-between;
        font-size: 1em;

        .calendar-title {
            font-weight: bold;
            text-transform: capitalize;
            font-size: 1.5em;
        }
    }

    .table {
        td.day {
            height: 20px;
        }
    }

    .today {
        background-color: transparent;
        border: 2px solid rgb(182, 182, 182);
    }

    .day {
        font-size: 0.8em;
    }

    .prev-month, .next-month {
        background-color: rgb(240, 240, 240);
        color: rgb(175, 175, 175);
    }

    .custom-event {
        border-radius: 15px;
        background-color: #f7939750;
        padding: 5px 10px;
        cursor: pointer;
        color: black;
        text-decoration: none;
        border: 1px solid #f7939780;

        &:hover {
            background-color: #f7939780;
            text-decoration: none !important;
        }
    }

    .past.has-events {
        .custom-event {
            background-color: rgb(240, 240, 240);
        }
    }
}

.custom-box {
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 3px 0 #dee0e3;
    box-shadow: 0 1px 3px 0 #dee0e3;
    padding: 20px 10px;
    width: 100%;
}

.row.globalize-languages.column.padding-top.highlight,
.translatable-fields.js-globalize-attribute.highlight 
{
    background: none;
}

.auth-page {
    .footer {
        background: #252525 !important;
        border-top: 6px solid #0fbbd4;
    }
}

.featured-proposals {
    background: #f9ba6a60;
}


// Bootstrap Like
@for $i from 1 through 5 {
    $size: 1rem * $i;
    .mb-#{$i} {
        margin-bottom: $size !important;
    }

    .mt-#{$i} {
        margin-top: $size !important;
    }

    .mx-#{$i} {
        margin-left: $size !important;
        margin-right: $size !important;
    }

    .my-#{$i} {
        margin-top: $size !important;
        margin-bottom: $size !important;
    }

    .pb-#{$i} {
        padding-bottom: $size !important;
    }

    .pt-#{$i} {
        padding-top: $size !important;
    }

    .px-#{$i} {
        padding-left: $size !important;
        padding-right: $size !important;
    }

    .py-#{$i} {
        padding-top: $size !important;
        padding-bottom: $size !important;
    }
}

.button-twitter,
.button-facebook,
.button-google {
    color: #222 !important;
}

.button.answered {
    color: #222 !important;
}

#new_user {
    select {
        height: 3rem !important;
    }
}

#leaflet {
    height: 500px;
}

.highlight_input {
    border: 2px solid #0fbbd4;
}

.custom-jumbo-home {
    background-color: transparent;
    padding: 0;
    padding-top: 120px;
}

#navigation_bar {
    color: #323232 !important;
}

.main-header .top-bar #navigation_bar a {
}

ul.mobile-view {
    li {
        color: #323232 !important;
    }
}

.mobile-menu {
    a {
        color: #323232 !important;
        padding: 1rem 0.5rem !important;
    }
}

.show-for-small-only .subnavigation a {
    line-height: normal !important;
}

.custom-parent-menu {
    & > li {
        background-color: #323232 !important;

        a {
            text-decoration: none;
        }
    }
}

.custom-menu.submenu {
    background-color: white;
}

.top-bar-right {
    .menu.dropdown {
        li {
            @media (min-width: 640px) {
                background-color: #323232 !important;
                line-height: 1.6;
                margin-left: 5px;

                a {
                    text-decoration: none !important;
                }
                
                &:hover {
                    background-color: lighten(#323232, 10%) !important;
                }
            }

            @media (max-width: 639px) {
                color: #323232 !important;
            }
        }
    }
}

.top-bar .menu > li a {
    @media (max-width: 640px) {
        color: #323232 !important;
    }
}

.top-bar {
    text-transform: uppercase !important;
    font-size: 0.875rem !important;
}

@media print, screen and (min-width: 40em) {
    .subnavigation ul li {
        margin-right: 5px !important;
    }
}

body {
    background-color: #f2f2f2 !important;
}

.custom-feed-title {
    color: #FFF !important;
    border-top: 0 !important;
    background-color: #323232;
    padding: 10px 25px 10px 25px !important;
}

.custom-feeds-index h2 {
    color: #FFF !important;
    border-top: none !important;
}

@media (min-width: 701px) {
    .widget-feed .feed-description {
        padding-left: 2% !important;
    }
}

.custom-proposal-feed-card {
    &:first-child {
        margin-top: 20px;
    }
    background-color: #FFF;
    margin-left: 0% !important;
    margin-bottom: 20px;
    box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.25);
    min-height: 175px;

    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.feeds-participation {
    flex-direction: column;
}

.custom-feeds-index {
    background-color: transparent !important;
}

.button {
    border: 3px solid black;
    background-color: transparent !important;
    color: black !important;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    user-select: none;
    text-decoration: none !important;
    border-radius: 0;

    &:hover {
        background-color: darken(white, 10%);
    }
}

.wrapper {
    position: relative;

    header.main-header {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.help-header {
    padding-top: 160px;
}

.budget-header {
    padding-top: 160px !important;
}

@media screen and (min-width: 75em) {
    body.public {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

// Help headers

.custom-help-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 45px;

    .left-side-help-header {
        padding-left: 15vw;
        padding-top: 140px;
        padding-bottom: 45px;
        width: 40%;

        @media (min-width: 640px) {
            h1 {
                border-bottom: 3px solid black;
            }
        }
    }

    .right-side-help-header {
        padding-top: 140px;
        padding-bottom: 45px;
        width: 60%;
    }

    @media (max-width: 648px) {
        .right-side-help-header {
            display: none;
        }

        .left-side-help-header {
            padding-left: 0;
            width: 100%;
            padding-top: 140px;
            padding-bottom: 45px;
            text-align: center;
        }
    }
}

.custom-help-header-proposals {
    .left-side-help-header {
        background-color: rgb(247, 163, 57);
    }

    .right-side-help-header {
        background-color: lighten(rgb(247, 163, 57), 10%);
    }
}

.custom-help-header-debates {
    .left-side-help-header {
        background-color: rgb(108, 202, 152);
    }

    .right-side-help-header {
        background-color: lighten(rgb(108, 202, 152), 10%);
    }
}

.custom-help-header-polls {
    .left-side-help-header {
        background-color: rgb(52, 138, 198);
    }

    .right-side-help-header {
        background-color: lighten(rgb(52, 138, 198), 10%);
    }
}

.custom-help-header-events {
    .left-side-help-header {
        background-color: rgb(243, 100, 105);
    }

    .right-side-help-header {
        background-color: lighten(rgb(243, 100, 105), 10%);
    }
}

.custom-help-header-ods {
    .left-side-help-header {
        background-color: rgb(255, 154, 184);
    }

    .right-side-help-header {
        background-color: lighten(rgb(255, 154, 184), 10%);
    }
}

.proposal-new {
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

html, body {
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
}

.search-results-summary {
    background: inherit !important;
}

#responsive-menu {
    @media (max-width: 648px) {
        background-color: #f2f2f2 !important;
    }

    .is-active {
        color: inherit !important;
        font-weight: 500;
    }
}

.menu.dropdown {
    .desktop-view {
        background-color: #323232 !important;
    }
}

@media screen and (min-width: 75em) {
    .public .footer::before {
        left: 0 !important;
        right: 0 !important;
    }
}

@media screen and (min-width: 75em) {
    .public > .wrapper > header::after, .proposal-dashboard > header::after {
        left: 0 !important;
        right: 0 !important;
    }
}

@media screen and (min-width: 75em) {
    .jumbo.header-card::before {
        left: 0 !important;
        right: 0 !important;
    }
}

@media screen and (min-width: 75em) {
    .public > .wrapper > header > *::before, .proposal-dashboard > header > *::before {
        left: 0 !important;
        right: 0 !important;
    }
}

.feed-content {
    max-width: 100%;
    margin-right: 0 !important;
}

.jumbo-right-pane {
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;

    @media (max-width: 640px) {
        height: auto;
        justify-content: start;
    }
}

.custom-feeds-index {
    .proposal.panel {
        min-height: auto;
    }
}

.custom-feed-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    .panel.with-image {
        min-height: auto !important;
    }

    .custom-feed-proposal-image {
        height: 100%; 
        width: 100%; 
        object-fit: cover;
    }

    @media (max-width: 640px) {
        flex-direction: column;

        .custom-feed-proposal-image {
            height: 200px; 
            width: 100%; 
            object-fit: cover;
        }
    }
}

.admin {
    .top-links, .menu-text {
        color: #323232 !important;
    }

    .menu-text {
        a {
            color: #323232 !important;
            small {
                color: #323232 !important;
            }
        }
    }
}

.tabs {
    background: transparent !important;
}

.tabs-title > a[aria-selected='true'] {
    background: transparent !important;
}

.tabs-content {
    background: transparent !important;
}

@media screen and (min-width: 75em) {
    .proposal-dashboard > header {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.phase-title.tabs-title  {
    a {
        background: lighten(#ff7267, 15%) !important;
    }
}

.phase-title.tabs-title.current-phase-tab  {
    a {
        background: #ff7267 !important;
    }
}

.phase-title.tabs-title.is-active  {
    a {
        background: lighten(#ff7267, 15%) !important;
    }
}

.headings-list {
    .heading {
        color: #323232 !important;
    }
}

.padding-top-for-header {
    padding-top: 160px;

    @media (max-width: 640px) {
        padding-top: 120px;
    }
}

.comments {
    background: transparent !important;
}

.simple-calendar {
    .table.table-striped {
        border: 2px solid #323232 !important;
    }
}

.additional-content .filter-subnav {
    background: transparent !important;
}

#responsive-menu .is-active {
    color: #323232 !important;
}

body.admin {
    height: auto !important;
}

.polls-show-header {
    background: transparent !important;
}