// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

// Barra de progreso Turbolink

.turbolinks-progress-bar::before {
  background-color: #616161 !important;
  opacity: 1;
}

.no-margin-top {
  margin-top: 0 !important;
}

.side-menu-and-admin-content {
  min-height: 100vh;
}

//

.solo-desktop {
  @include breakpoint(small down) {
    display: none;
  }
}

.solo-mobile {
  @include breakpoint(medium up) {
    display: none;
  }
}

.padding-pages {
  padding-top: 20px;
}

.top-links {
  background: #252525;
  color: #fff;
  font-size: $small-font-size;
  padding-right: $line-height / 2;
  padding-bottom: $line-height / 2;

  a {
    color: #fff;
    margin: 0 rem-calc(6);

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    margin-bottom: 0;
  }

  li {
    display: block;

    @include breakpoint(medium) {
      display: inline-block;

      &::after {
        content: "|";
      }

      &:last-child::after {
        content: none;
      }
    }
  }
}

footer {
  color: #FFF;

  .logo a {
    font-family: "Lato" !important;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    font-size: $small-font-size;

    &.info a {
      text-decoration: underline;
    }
  }

  a,
  a:active,
  a:focus {
    color: #FFF;
    text-decoration: underline;

    &:hover {
      color: $text-medium;
    }
  }

  .footer-sections {
    padding-left: 0;
  }

  .title {
    font-weight: bold;
    text-decoration: none;
  }

  ul {
    margin-left: 0 !important;
  }
}

.footer {
  background: #252525;
  margin-top: $line-height * 2;
  padding-top: $line-height * 2;
  border-top: 6px solid $brand;
}

.help-header {
  background:#EEEEEE;
  border-bottom: 1px solid #eee;
  padding-bottom: $line-height / 2;
  padding-top: $line-height;

  h1 {
    font-size: rem-calc(24);
    text-transform: uppercase;
  }
}

.expanded {

  &.budget {
    background: $budget;

    h1,
    h2,
    p,
    a,
    .back,
    .icon-angle-left,
    .description {
      color: #fff;
    }

    a {
      text-decoration: underline;
    }

    .callout {

      &.primary a {
        color: $link;
      }
    }

    .button {
      background: #fff;
      color: $budget;
      text-decoration: none;
    }

    .confirmed {
      font-size: rem-calc(24);
      font-weight: bold;
    }

    .info {
      background: #F76804;

      p {
        margin-bottom: 0;
        text-transform: uppercase;
      }
    }
  }
}

.is-author {
  background: #F76804;
}

.callout.primary {
  background-color: #FFF;
  border-color: #F76804;
  color: #F76804;
}

.verification-link {
  a {
    color: #F76804;
  }
  
}


// Cambios en el homepage

.img-container {
  background-color: #000;
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .img-container img {
    width: 100%;
    height: auto;
  }
}

.img-container img {
  width: 100%;
  height: calc(100vh - 120px);
  object-fit: cover;
  opacity: 0.4;
}


@media only screen and (max-width: 767px) {
  .img-container .btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);   
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
}

@media only screen and (max-width: 640px) {
  .img-container .btn {
    position: absolute;
    top: 70% !important;
    width: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);   
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  .img-container .btn .button {
    font-size: 1rem;
  }

  .img-container img {
    height: 50vh;
  }
}

.img-container .button {
  box-shadow: 0px 0px 15px #f76804CC;
  border-radius: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.img-container .btn {
  width: auto;
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);   
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.img-container .cenp {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#FFF;
}



.img-container .h1p {
  width: 60%;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color:#FFF;
  font-size:3vw;
}

@media (max-width: 640px) 
{
    .cenp
    {
      font-size: 4vw;
    }

    .h1p {
      width: 90% !important;
      font-size: 5vw !important; 
    }

    .img-container .btn {
    }
}


// Propuestas Homepage

@media (min-width: 640px) 
{
  .feed-description {
    padding-left: 0;
  }
}

.participation-not-allowed {
  background: #fff !important;

  & p {
    color: #222 !important;
    font-size: 14px;
  }
}

.proposal-img {
  height: 100%;
  object-fit: cover;

  @media (max-width: 640px) {
    width: 100%;
    max-height: 200px;
  }
}

// Header

  header > .row {

    @include breakpoint(medium up) {
      max-width: none !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
      padding: 0 30px;
    }
  }

  // Buscador
  header .search-form-header {
    width: 160px;
  }

  header .input-group-field {
    background: #fff !important;
    border-radius: 25px 0 0 25px;
    padding: 0 15px !important;
    font-size: 12px;
    border: 0;
    height: 52px;
    margin-bottom: 0 !important;
    height: 40px !important;

    &:focus {
      border: 0;
    }
  }

  header .input-group {
    margin-bottom: 0 !important;
  }

  header .input-group-button {
    padding-bottom: 0 !important;
  }

  header .input-group-button button {
    background: $brand !important;
    border: 0 !important;
    color: #fff !important;
    border-radius: 0 25px 25px 0 !important;
    height: 40px;
  }


  // Links
  a, a:hover, a:active, a:focus, a img, object, embed {
    outline: none !important;
  }

  header .subnavigation a {
    color: white !important;
  }

  header .subnavigation a.is-active {
    color: $brand !important;
    border-bottom: 0;
  }

  header .subnavigation a:hover {
    transition: 0.2s;
    color: rgb(255, 140, 58) !important;
    text-decoration: none;
  }

  // Boton dropdown perfil

  .perfil-dropdown-content hr {
    margin: 5px 0;
  }


// FOOTER

.h2-footer {
  font-weight: bold;
  color: #fff;
  font-size: 18px;
}

.texto-footer {
  color:#616161 !important;
  font-size:12px;
  font-weight:bolder
}

.subtexto-footer {
  color:#616161 !important;
  font-size:12px;
}

.icono-footer {
  color: #f76804 !important;
}

.icono-contacto-footer {
  color:#f76804 !important;
  font-size:12px;
  margin-right: 10px;
}

// Header

header {
  height: 120px;
  z-index: 1000 !important;
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 5px solid $brand;

    @include breakpoint(small down) {
      border-bottom: 3px solid $brand;
      height: auto;
    }

  & .icon-circle {
    color: $brand !important;
  }

  & .subnavigation .input-group {
    padding-top: 0 !important;
  }

  & .top-bar {

    background: #252525 !important;

    @include breakpoint(medium up) {
      background: transparent !important;
      display: flex;
      height: 120px;
      justify-content: flex-start !important;
    }
  }

  .margin-left {
    @include breakpoint(medium up) {
      margin-left: auto !important;
    }
  }
}

@media (min-width: 640px) {
  header .subnavigation {
    background-color: #252525;
  }
}

@media (max-width: 640px) 
{
  .menu-desktop {
    display: none !important;
  }
}

@media (min-width: 640px) 
{
  .menu-mobile {
    display: none !important;
  }
}

header {
  font-size: 14px !important; 
  font-family: 'Poppins', sans-serif;

  @include breakpoint(small down) {
    height: 56px !important;
  }
}

@media (max-width: 640px) 
{
  #responsive-menu {
    width: 100%;
  }
}

.btn-registrar {
  border-radius: 25px;
  background: #fff;
}


@media (min-width: 640px) 
{
  .btn-registrar:hover {
    background: #ffffffCC !important;
    transition: background 0.2s linear; 
  }
}

.btn-perfil {
  border-radius: 20px 20px 20px 20px;
  background: #fff !important;
  color: #252525 !important;
  padding: 8px 30px 8px 8px !important;
  transition-duration: 0.2s;

  &:hover {
    background: #ffffffCC !important;
    text-decoration: none;
  }

  img {
    margin-right: 3px;
  }

  &::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: $brand transparent transparent;
    right: 10px;
    left: auto;
    margin-top: -3px;
    position: absolute;
    top: 50%;
    box-sizing: inherit;
  }
}

.btn-negrita {
  font-weight: bold;
}

.perfil-dropdown {
  position: relative;
  display: inline-block;

  &:hover, &:active, &:visited {
    .perfil-dropdown-content {
      display: block;
    }

    .btn-perfil {
      border-radius: 20px 20px 0 0;
    }
  }


}

.perfil-dropdown-content {
  border-radius: 5px 0px 5px 5px;
  width: 100%;
  right: rem-calc(0);
  display: none;
  position: absolute;
  background-color: #fff !important;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 0;

  & a {
    color: #252525 !important;
  }
}

// Propuestas Homepage

.feed-image img {
  object-fit: cover;
  object-position: center;
}

// Administración

.admin {
  margin-top: 120px;

  @include breakpoint(small) {
    margin-top: 0;
  }

  & .top-bar {
    box-shadow: none;
  }

  & header {
    position: relative;
    height: auto !important;
  }
}

// Propuestas

.proposal-show {
  padding-top: 20px;
}

  // Diseño propuestas
  .participation-not-allowed {
    color: #f76804;
    font-size: 14px;

    & a {
      color: #f76804 !important;
    }
  }

  .supports {
    & .meter {
      background: #f76804 !important;
    }

    & .button-support {
      background: #f76804 !important;
      color: #fff !important;
    }
  }


  // Comentario de propuestas

  .comment-info .is-author {
    color: #fff;
    border-radius: 10px;
  }

  .comment-children {
    padding-left: 1.5rem !important;
  }

  .comment-body .is-admin {
    background: none !important;
  }


// Debates

  // Debate individual
  .debate-show {
    padding-top: 20px;
  }

  // Crear un debate
  .debate-form {
    padding-top: 20px;
  }

// Advertencias

#advertencia-eliminar-propuesta {
  text-align: center;
  width: 60%;
  display: none;
  background-color: rgb(255, 172, 172);
  padding: 10px;
  border-radius: 15px;
}

.danger {
  background-color: #dc3545 !important;
}

// Perfil

.already-verified {
  font-weight: bold;
}

// Votaciones

.image-container {

  & > img {
    width: 100% !important;
    object-fit: cover;
  }
}

// Presupuestos Participativos

.expanded.budget {
  background: #EEEEEE !important;

  & p, h2, h1, a {
    color: #0a0a0a;
  }

  & .info {
    color: white !important;

    & p, h2, h1, a {
      color: white !important;
    }

    & .callout.primary a {
      color: #F76804 !important;
    }

    & a.button.margin-top.expanded {
      color: #F76804 !important;
    }
  }
}

#budget-investments-main {
  & .button.budget.expanded {
    background: #f76804 !important;
  }

  & .jumbo-budget {
    background: #EEEEEE;
    border-bottom: none;

    & h2, a, h3, span {
      color: #0a0a0a !important;
    }
  }
}

// Scroll fix margen top

:target::before {
  content: "";
  display: block;
  height: 120px;
  margin: -120px 0 0;

  @media (max-width: 640px) {
    height: 56px;
    margin: -56px 0 0;
  }
}