<section class="home-section-2">
  <!-- Titulo -->
  <div class="row">
    <div class="small-12 column">
      <h1 class="section-title">
        Región de Antofagasta
      </h1>
      <h1 class="section-subtitle">
        ¡Visita cada provincia!
      </h1>
    </div>
  </div>

  <!-- Mapa -->
  <div class="row">
    <div class="small-12 column map-container">

      <!-- Modal info provincias -->
      <div class="reveal" id="provinces-info" data-reveal>
        <header>
          <h1 id="reveal-title"></h1>
        </header>
        <main>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed ligula vitae lectus gravida ultrices ac at eros. In euismod erat tortor, eleifend sollicitudin neque laoreet volutpat. Curabitur nec turpis sed felis eleifend hendrerit consequat at dolor. Nunc ut efficitur lacus. Vestibulum luctus purus turpis, id bibendum ipsum convallis nec. Nunc nulla risus, gravida sed dictum eget, efficitur sed metus. Phasellus hendrerit leo elit, dictum ornare orci vestibulum in. Nunc mollis dolor at lectus blandit molestie.</p>
        </main>
        <button class="close-button" data-close aria-label="Cerrar" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= render 'welcome/utils/map' %>
    </div>
  </div>
</section>

<%= javascript_tag do %>
  function openProvinceInfo(provinceName) {
    $('#reveal-title').text(provinceName)
    $('#provinces-info').foundation('open')
  }

  $('#map-tocopilla').click(function() {
    openProvinceInfo('Tocopilla')
  })
  $('#map-el-loa').click(function() {
    openProvinceInfo('El Loa')
  })
  $('#map-antofagasta').click(function() {
    openProvinceInfo('Antofagasta')
  })
<% end %>
