<section class="home-section-2">
  <!-- Titulo -->
  <div class="row">
    <div class="small-12 column">
      <h1 class="section-title">
        Región de Antofagasta
      </h1>
      <h1 class="section-subtitle">
        ¡Visita cada provincia!
      </h1>
    </div>
  </div>

  <!-- Mapa -->
  <div class="row">
    <div class="small-12 column map-container">

      <!-- Modal info provincias -->
      <%= render 'welcome/sections/provinces_modal' %>

      <%= render 'welcome/utils/map' %>
    </div>
  </div>
</section>

<%= javascript_tag do %>
  $('#map-tocopilla').click(function() {
    $('#modal-tocopilla').foundation('open')
  })
  $('#map-el-loa').click(function() {
    $('#modal-el-loa').foundation('open')
  })
  $('#map-antofagasta').click(function() {
    $('#modal-antofagasta').foundation('open')
  })
<% end %>
