<section class="home-section-3">
  <!-- Titulo -->
  <div class="row">
    <div class="small-12 column">
      <h1 class="section-title">
        ¡Participa!
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <div class="circles-container">
        <div class="circle-column">
          <div class="circle">
            <div class="inner-circle">
              <h2>Propuestas</h2>
              <%= image_tag '/images/process/proposals.svg' %>
            </div>
            <div class="hidden-inner-circle">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus blandit posuere neque,</p>
            </div>
          </div>
        </div>
        <div class="circle-column">
          <div class="circle">
            <div class="inner-circle">
              <h2>Consultas</h2>
              <%= image_tag '/images/process/polls.svg' %>
            </div>
            <div class="hidden-inner-circle">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus blandit posuere neque,</p>
            </div>
          </div>
        </div>
        <div class="circle-column">
          <div class="circle">
            <div class="inner-circle">
              <h2>Debates</h2>
              <%= image_tag '/images/process/debates.svg' %>
            </div>
            <div class="hidden-inner-circle">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus blandit posuere neque,</p>
            </div>
          </div>
        </div>
        <div class="circle-column">
          <div class="circle">
            <div class="inner-circle">
              <h2>Presupuestos</h2>
              <%= image_tag '/images/process/budgets.svg' %>
            </div>
            <div class="hidden-inner-circle">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus blandit posuere neque,</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
