<h1>Editing Functional Organization</h1>

<%= render 'form', functional_organization: @functional_organization %>

<%= link_to 'Show', @functional_organization %> |
<%= link_to 'Back', functional_organizations_path %>
