<% budget.groups.each do |group| %>
  <section id="<%= dom_id(group) %>" aria-labelledby="<%= dom_id(group, :header) %>">
    <%= render Admin::BudgetHeadings::HeadingsComponent.new(group.headings) %>
  </section>
<% end %>
