<fieldset aria-describedby="results_and_stats_reminder">
  <legend>Mostrar resultados</legend>

  <%= form.check_box :results_enabled %>
  <p class="help-text" id="results_and_stats_reminder">
    Si marcas esta casilla los resultados serán públicos y podrán verlos todos los usuarios.
  </p>
  <br>
  <%= form.check_box :show_demographics, label: 'Mostrar datos demográficos' %>
  <p class="help-text" id="results_and_stats_reminder">
    El proceso puede tardar varios segundos.
  </p>
</fieldset>
