<fieldset aria-describedby="results_and_stats_reminder">
  <legend>Mostrar resultados</legend>

  <p class="help-text" id="results_and_stats_reminder">
    Si marcas estas casillas los resultados serán públicos y podrán verlos todos los usuarios.
  </p>

  <%= form.check_box :results_enabled %>
</fieldset>
