<main class="proposal-new">
  <%= back_link_to proposals_path, t("proposals.index.section_header.title") %>

  <%= header do %>
  <% end %>

  <%= render Proposals::FormComponent.new(proposal, @proposal_topic, proposals_path, @is_municipal, @lat, @lng) %>
</main>
