<main class="proposal-new">
  <%= back_link_to proposal_topics_path, t("proposals.index.section_header.title") %>

  <h2 class="margin-top">Hola <span style="color: #243278;"><%= current_user.first_name %></span>, sube aquí tu propuesta.</h2>

  <%= render Proposals::FormComponent.new(proposal, @proposal_topic, proposals_path) %>
</main>
