<main class="proposal-new">
  <%= back_link_to proposal_topic_path(@proposal_topic.id), t("proposals.index.section_header.title") %>

  <%= header do %>
  <% end %>

  <%= render Proposals::FormComponent.new(proposal, @proposal_topic, proposals_path) %>
</main>
