<div class="row stats-numbers">
  <div class="small-12 medium-4 column">
    <p class="featured">
      Procesos totales <br>
      <span class="number"><%= number_with_delimiter(@polls[:count]) %></span>
    </p>
  </div>
  <div class="small-12 medium-4 column">
    <p class="featured">
      Respuestas totales <br>
      <span class="number"><%= number_with_delimiter(@polls[:answers]) %></span>
    </p>
  </div>
  <div class="small-12 medium-4 column">
  </div>
</div>
