<div class="row stats-numbers">
  <div class="small-12 medium-4 column">
    <p class="featured">
      Procesos totales <br>
      <span class="number"><%= number_with_delimiter(@participatory_regulatory_plans[:count]) %></span>
    </p>
  </div>
  <div class="small-12 medium-4 column">
    <p class="featured">
      Votos totales <br>
      <span class="number"><%= number_with_delimiter(@participatory_regulatory_plans[:votes]) %></span>
    </p>
  </div>
  <div class="small-12 medium-4 column">
    <p class="featured">
      Comentarios totales <br>
      <span class="number"><%= number_with_delimiter(@participatory_regulatory_plans[:comments]) %></span>
    </p>
  </div>
</div>
