<div id="stats" class="stats">
  <ul class="menu align-center">
    <li><a href="?type=1">Individual</a></li>
    <li><a href="?type=2">Grupal</a></li>
  </ul>

  <% @allow_params = ['1', '2'] %>

  <% if params[:type].present? %>
    <% if @allow_params.include? params[:type] %>
      <%= render 'type_%s' % [params[:type]] %>
    <% else %>
      <%= render 'type_1' %>
    <% end %>
  <% else %>
    <%= render 'type_1' %>
  <% end %>

</div>
