<div id="stats" class="stats">
  <h3><i class="fas fa-download"></i> Selecciona el tipo de reporte que deseas descargar</h3>
  <ul class="menu align-center">
    <%= link_to 'Individual', generate_csv_admin_stats_path(type: 1), class: 'button', style: 'margin-right: 10px; margin-bottom: 10px;' %>
    <%= link_to 'Grupal', generate_csv_admin_stats_path(type: 2), class: 'button', style: 'margin-right: 10px; margin-bottom: 10px;'  %>
  </ul>
  <small>El reporte se descargará en formato CSV utilizando punto y coma (;) como separador de columnas.</small>
</div>
