<div id="stats" class="stats">
  <h3><i class="fas fa-download"></i> Reporte</h3>
  <%= link_to 'Descargar', generate_csv_admin_stats_path(), class: 'button', style: 'margin-right: 10px; margin-bottom: 10px;' %><br>
  <small>El reporte se descargará en formato CSV utilizando punto y coma (;) como separador de columnas.</small>
</div>
