<div>
  <%= label_tag "survey_item_#{@survey_item.id}", @survey_item.title %>
  <% if @survey_item.required %>
    <small>(Obligatorio)</small>
  <% end %>

  <%= text_area_tag "survey_item_#{@survey_item.id}", !answers.nil? ? answers : nil, rows: 4, required: @survey_item.required, disabled: is_disabled %>
</div>
