<div>
  <%= label_tag @survey_item.title %>
  <% if @survey_item.required %>
    <small>(Obligatorio)</small>
  <% end %>

  <%= select_tag "survey_item_#{@survey_item.id}",
    options_for_select(@survey_item.data.map{ |choice| [choice, choice] }),
    include_blank: 'Elige una opción',
    label: @survey_item.title,
    required: @survey_item.required
  %>
</div>
