<footer>
  <div class="row">
    <%= image_tag '/images/global/logo-full.png', class: 'logo' %>
    <div>
      <h4>Sitios de interés</h4>
      <ul>
        <li>Lorem ipsum</li>
        <li>Lorem ipsum</li>
        <li>Lorem ipsum</li>
        <li>Lorem ipsum</li>
      </ul>
    </div>
    <div>
      <h4>LOGO UGPC</h4>
      <p>
        <strong>Dirección:</strong> Prat 384, piso 2, Antofagasta.<br>
        <strong>Teléfono:</strong> (56 55) 2357500<br>
        <strong>Mail:</strong> contacto@goreantofagasta.cl
      </p>
    </div>
    <div>
      <h4>Redes Sociales</h4>
      <%= render Layout::SocialComponent.new %>
    </div>
  </div>
</footer>
