<table cellpadding="0" cellspacing="0" border="0" style="margin: 0 auto; max-width: 700px; width:100%; margin-bottom: 40px; padding: 0 20px;">
  <tbody>
    <tr>
      <td style="text-align: center; border-top: 1px solid #dadfe1; padding-top: 20px;">
        <a href="https://www.planddhhyempresas.gob.cl" target="_blank">
          <%= image_tag(image_path_for("email_footer_1.jpg"),
                        style: "border: 0;display: block;width: 100%;max-width: 100%;",
                        alt: setting["org_name"]) %>
        </a>
        <p style="font-family: 'Open Sans','Helvetica Neue',arial,sans-serif; margin: 0;padding: 0;line-height: 1.5em;color: #222; font-size: 10px; margin-top: 12px;">
          Ministerio de Justicia y Derechos Humanos - 2021<br>
          Morandé 107, Santiago - Teléfonos (56-2) 26743100
        </p>
      </td>
    </tr>
  </tbody>
</table>
