<div class="with-margin-top">
<h2>Felicidades</h2>
<p>Tu perfil ha sido modificado correctamente.</p>
<p>
  <%= link_to t("devise_views.users.registrations.success.back_to_index"),
      root_path, class: "button margin-top expanded" %>
</p>
</div>